In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'0.23.4'

# Assumption : we are cteating the data set for student (100 student)
# Hours of study : 1-5
# Hours of playing : 3 -7
# Hours of sleeping : 6-10
# percentage : 70 -90

In [3]:
study=np.random.randint(1,5,100)
playing = np.random.randint(3,7,100)
sleeping =  np.random.randint(6,10,100)
percentage = np.random.randint(70,90,100)

In [4]:
study

array([4, 2, 1, 3, 4, 3, 3, 3, 4, 4, 4, 4, 3, 1, 1, 2, 4, 1, 1, 1, 3, 4,
       1, 3, 2, 1, 1, 2, 4, 2, 3, 2, 3, 1, 4, 3, 3, 1, 1, 1, 3, 1, 4, 2,
       2, 2, 2, 1, 1, 3, 2, 4, 1, 3, 2, 1, 1, 3, 1, 3, 4, 2, 4, 3, 4, 2,
       1, 3, 2, 1, 2, 2, 3, 4, 2, 1, 2, 4, 4, 4, 2, 1, 4, 3, 3, 1, 2, 3,
       3, 4, 3, 3, 4, 2, 1, 4, 4, 3, 2, 3])

In [5]:
# creating a 2d data frame
df=pd.DataFrame({'Hours of study':study,'Hours of playing':playing,'Hours of sleeping':sleeping,'percentage':percentage})

In [6]:
df

    Hours of study  Hours of playing  Hours of sleeping  percentage
0                4                 4                  6          81
1                2                 3                  9          71
2                1                 4                  7          83
3                3                 5                  7          71
4                4                 4                  9          77
5                3                 6                  7          77
6                3                 6                  6          78
7                3                 4                  9          70
8                4                 3                  8          77
9                4                 3                  6          81
10               4                 4                  8          79
11               4                 4                  9          77
12               3                 6                  9          83
13               1                 3                  6          72
14               1                 6                  6          70
15               2                 6                  7          73
16               4                 3                  6          79
17               1                 6                  8          82
18               1                 3                  7          70
19               1                 6                  7          81
20               3                 5                  9          84
21               4                 6                  6          78
22               1                 6                  7          84
23               3                 6                  9          78
24               2                 5                  6          77
25               1                 3                  6          86
26               1                 5                  9          88
27               2                 5                  8          83
28               4                 4                  9          76
29               2                 4                  7          77
..             ...               ...                ...         ...
70               2                 6                  8          72
71               2                 5                  8          70
72               3                 6                  6          84
73               4                 6                  8          85
74               2                 4                  6          82
75               1                 3                  8          81
76               2                 3                  9          74
77               4                 6                  6          86
78               4                 4                  8          70
79               4                 3                  7          79
80               2                 3                  6          73
81               1                 4                  9          71
82               4                 5                  8          71
83               3                 4                  7          76
84               3                 4                  6          80
85               1                 4                  6          78
86               2                 5                  8          87
87               3                 5                  8          88
88               3                 6                  6          72
89               4                 6                  6          85
90               3                 3                  6          89
91               3                 3                  8          89
92               4                 3                  9          82
93               2                 5                  6          75
94               1                 4                  7          88
95               4                 4                  9          85
96               4                 6                  7          82
97               3                 6                  9          88
98               2                 3                  6          84
99               3                 5                  8          74

[100 rows x 4 columns]

In [7]:
# read file from the folder
dia=pd.read_csv('diabetes.csv')
dia

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
5,116,74,0,0,25.6,0.201,30,0
6,78,50,32,88,31.0,0.248,26,1
7,115,0,0,0,35.3,0.134,29,0
8,197,70,45,543,30.5,0.158,53,1
9,125,96,0,0,0.0,0.232,54,1
10,110,92,0,0,37.6,0.191,30,0
11,168,74,0,0,38.0,0.537,34,1
12,139,80,0,0,27.1,1.441,57,0
13,189,60,23,846,30.1,0.398,59,1
14,166,72,19,175,25.8,0.587,51,1
15,100,0,0,0,30.0,0.484,32,1
16,118,84,47,230,45.8,0.551,31,1
17,107,74,0,0,29.6,0.254,31,1
18,103,30,38,83,43.3,0.183,33,0
19,115,70,30,96,34.6,0.529,32,1
20,126,88,41,235,39.3,0.704,27,0
21,99,84,0,0,35.4,0.388,50,0
22,196,90,0,0,39.8,0.451,41,1
23,119,80,35,0,29.0,0.263,29,1
24,143,94,33,146,36.6,0.254,51,1
25,125,70,26,115,31.1,0.205,41,1
26,147,76,0,0,39.4,0.257,43,1
27,97,66,15,140,23.2,0.487,22,0
28,145,82,19,110,22.2,0.245,57,0
29,117,92,0,0,34.1,0.337,38,0
...,...,...,...,...,...,...,...,...
738,99,60,17,160,36.6,0.453,21,0
739,102,74,0,0,39.5,0.293,42,1
740,120,80,37,150,42.3,0.785,48,1
741,102,44,20,94,30.8,0.400,26,0
742,109,58,18,116,28.5,0.219,22,0
743,140,94,0,0,32.7,0.734,45,1
744,153,88,37,140,40.6,1.174,39,0
745,100,84,33,105,30.0,0.488,46,0
746,147,94,41,0,49.3,0.358,27,1
747,81,74,41,57,46.3,1.096,32,0
748,187,70,22,200,36.4,0.408,36,1
749,162,62,0,0,24.3,0.178,50,1
750,136,70,0,0,31.2,1.182,22,1
751,121,78,39,74,39.0,0.261,28,0
752,108,62,24,0,26.0,0.223,25,0
753,181,88,44,510,43.3,0.222,26,1
754,154,78,32,0,32.4,0.443,45,1
755,128,88,39,110,36.5,1.057,37,1
756,137,90,41,0,32.0,0.391,39,0
757,123,72,0,0,36.3,0.258,52,1
758,106,76,0,0,37.5,0.197,26,0
759,190,92,0,0,35.5,0.278,66,1
760,88,58,26,16,28.4,0.766,22,0
761,170,74,31,0,44.0,0.403,43,1
762,89,62,0,0,22.5,0.142,33,0
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [8]:
nba=pd.read_csv('nba.csv')
nba

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6912869.0
12,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3425510.0
13,James Young,Boston Celtics,13,SG,20,6-Jun,215,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44,SG,27,8-Jun,216,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22,SG,24,3-Jun,190,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21,SG,28,4-Jun,200,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24,SG,21,7-Jun,220,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2,PG,32,3-Jun,200,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10,SG,22,7-Jun,208,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6,SG,26,4-Jun,219,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0,PG,23,11-May,175,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11,C,28,Jul-00,275,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1,PF,21,11-Jun,200,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33,PF,26,10-Jun,220,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41,PF,25,10-Jun,237,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14,C,26,10-Jun,248,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15,PG,28,3-Jun,205,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30,PF,27,8-Jun,221,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
427,Cliff Alexander,Portland Trail Blazers,34,PF,20,8-Jun,240,Kansas,525093.0
428,Al-Farouq Aminu,Portland Trail Blazers,8,SF,25,9-Jun,215,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5,SG,23,5-Jun,206,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23,SG,24,6-Jun,210,California,947276.0
431,Ed Davis,Portland Trail Blazers,17,C,27,10-Jun,240,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4,SF,23,9-Jun,215,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9,SG,28,5-Jun,215,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35,C,34,Jul-00,265,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11,PF,24,1-Jul,245,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0,PG,25,3-Jun,195,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3,SG,24,4-Jun,200,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44,SG,23,7-Jun,185,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24,C,26,11-Jun,235,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2,PG,30,1-Jun,173,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21,PF,20,9-Jun,240,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33,PF,28,8-Jun,228,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3,PG,23,1-Jun,191,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10,SG,24,6-Jun,214,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11,PG,20,6-Jun,190,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15,PF,24,10-Jun,265,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27,C,23,1-Jul,245,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20,SF,26,8-Jun,226,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5,SG,23,8-Jun,206,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2,SF,28,8-Jun,226,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23,SF,26,6-Jun,206,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [9]:
# index
df.index

RangeIndex(start=0, stop=100, step=1)

In [10]:
nba.index

RangeIndex(start=0, stop=457, step=1)

In [11]:
dia.index

RangeIndex(start=0, stop=768, step=1)

In [12]:
# shape 
dia.shape

(768, 8)

In [13]:
df.shape

(100, 4)

In [14]:
nba.shape

(457, 9)

In [15]:
# display axes = shows column in the DataSet
df.axes

[RangeIndex(start=0, stop=100, step=1),
 Index(['Hours of study', 'Hours of playing', 'Hours of sleeping',
        'percentage'],
       dtype='object')]

In [16]:
# " dtype='object' "  from above output show the data type of columns in dataset is string because  it contains there is no integer
# " dtype='int' "    is for showing that the data type of column is dataset is integer
dia.axes

[RangeIndex(start=0, stop=768, step=1),
 Index(['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI',
        'DiabetesPedigreeFunction', 'Age', 'Outcome'],
       dtype='object')]

In [17]:
nba.axes

[RangeIndex(start=0, stop=457, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'DOB', 'Weight', 'College',
        'Salary'],
       dtype='object')]

In [18]:
# datatype
df.dtypes

Hours of study       int32
Hours of playing     int32
Hours of sleeping    int32
percentage           int32
dtype: object

In [19]:
dia.dtypes

Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [20]:
nba.dtypes

Name         object
Team         object
Number        int64
Position     object
Age           int64
DOB          object
Weight        int64
College      object
Salary      float64
dtype: object

In [21]:
# head () : this function diaplay first 5 rows of dataset
df.head()

   Hours of study  Hours of playing  Hours of sleeping  percentage
0               4                 4                  6          81
1               2                 3                  9          71
2               1                 4                  7          83
3               3                 5                  7          71
4               4                 4                  9          77

In [22]:
dia.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1

In [23]:
nba.head()

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0

In [24]:
df.head(10)

   Hours of study  Hours of playing  Hours of sleeping  percentage
0               4                 4                  6          81
1               2                 3                  9          71
2               1                 4                  7          83
3               3                 5                  7          71
4               4                 4                  9          77
5               3                 6                  7          77
6               3                 6                  6          78
7               3                 4                  9          70
8               4                 3                  8          77
9               4                 3                  6          81

In [25]:
dia.head(15)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
5,116,74,0,0,25.6,0.201,30,0
6,78,50,32,88,31.0,0.248,26,1
7,115,0,0,0,35.3,0.134,29,0
8,197,70,45,543,30.5,0.158,53,1
9,125,96,0,0,0.0,0.232,54,1
10,110,92,0,0,37.6,0.191,30,0
11,168,74,0,0,38.0,0.537,34,1
12,139,80,0,0,27.1,1.441,57,0
13,189,60,23,846,30.1,0.398,59,1
14,166,72,19,175,25.8,0.587,51,1

In [26]:
nba.head(3)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN

In [27]:
# tail() : this function gives you bottom 5 rows
df.tail()

    Hours of study  Hours of playing  Hours of sleeping  percentage
95               4                 4                  9          85
96               4                 6                  7          82
97               3                 6                  9          88
98               2                 3                  6          84
99               3                 5                  8          74

In [28]:
dia.tail()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [29]:
nba.tail()

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [30]:
df.tail(10)

    Hours of study  Hours of playing  Hours of sleeping  percentage
90               3                 3                  6          89
91               3                 3                  8          89
92               4                 3                  9          82
93               2                 5                  6          75
94               1                 4                  7          88
95               4                 4                  9          85
96               4                 6                  7          82
97               3                 6                  9          88
98               2                 3                  6          84
99               3                 5                  8          74

In [31]:
dia.tail(4)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [32]:
nba.tail(1)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [33]:
type(df)

pandas.core.frame.DataFrame

In [34]:
# create any kind of data frame varibale

temp=df.head(12)

In [35]:
type(temp)

pandas.core.frame.DataFrame

In [36]:
# info() : this method is very use full this will return you the information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
Hours of study       100 non-null int32
Hours of playing     100 non-null int32
Hours of sleeping    100 non-null int32
percentage           100 non-null int32
dtypes: int32(4)
memory usage: 1.6 KB

In [37]:
dia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 8 columns):
Glucose                     768 non-null int64
BloodPressure               768 non-null int64
SkinThickness               768 non-null int64
Insulin                     768 non-null int64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(2), int64(6)
memory usage: 48.1 KB

In [38]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null int64
Position    457 non-null object
Age         457 non-null int64
DOB         457 non-null object
Weight      457 non-null int64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(1), int64(3), object(5)
memory usage: 32.2+ KB

In [39]:
# null columns = these are the column is with 'no data present' and it is represnted by 'NaN'
#nba has null column

457-373 # college has these number null

84

In [40]:
# describe() : this will give you stats figure
df.describe()

       Hours of study  Hours of playing  Hours of sleeping  percentage
count      100.000000        100.000000         100.000000  100.000000
mean         2.490000          4.490000           7.500000   79.350000
std          1.123621          1.167705           1.176367    5.728495
min          1.000000          3.000000           6.000000   70.000000
25%          1.000000          3.000000           6.000000   74.750000
50%          3.000000          4.000000           8.000000   80.000000
75%          3.000000          6.000000           9.000000   84.000000
max          4.000000          6.000000           9.000000   89.000000

In [41]:
dia.describe()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [42]:
nba.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [43]:
# Display column
df.columns

Index(['Hours of study', 'Hours of playing', 'Hours of sleeping',
       'percentage'],
      dtype='object')

In [44]:
dia.columns

Index(['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI',
       'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [45]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'DOB', 'Weight', 'College',
       'Salary'],
      dtype='object')

In [46]:
# __.get_dtype_counts() = get total number of datatype in the dataset with their indivual count
df.get_dtype_counts()

int32    4
dtype: int64

In [47]:
df.head(3)

   Hours of study  Hours of playing  Hours of sleeping  percentage
0               4                 4                  6          81
1               2                 3                  9          71
2               1                 4                  7          83

In [48]:
dia.get_dtype_counts()

float64    2
int64      6
dtype: int64

In [49]:
dia.head(3)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1

In [50]:
nba.get_dtype_counts()

float64    1
int64      3
object     5
dtype: int64

In [51]:
nba.head(3)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN

In [52]:
# df.sum()|| axis = 0(column),1(row)
df.sum()

Hours of study        249
Hours of playing      449
Hours of sleeping     750
percentage           7935
dtype: int64

In [53]:
dia.sum()

Glucose                     92847.000
BloodPressure               53073.000
SkinThickness               15772.000
Insulin                     61286.000
BMI                         24570.300
DiabetesPedigreeFunction      362.401
Age                         25529.000
Outcome                       268.000
dtype: float64

In [54]:
nba.sum()

Name        Avery BradleyJae CrowderJohn HollandR.J. Hunte...
Team        Boston CelticsBoston CelticsBoston CelticsBost...
Number                                                   8079
Position    PGSFSGSGPFPFPFCPGPGCPGSGSGCSGSGSGSGPGSGSGPGCPF...
Age                                                     12311
DOB         2-Jun6-Jun5-Jun5-Jun10-Jun9-Jun8-JunJul-002-Ju...
Weight                                                 101236
Salary                                            2.15984e+09
dtype: object

In [55]:
df.sum(axis=0)

Hours of study        249
Hours of playing      449
Hours of sleeping     750
percentage           7935
dtype: int64

In [57]:
df.sum(axis=1)

0      95
1      85
2      95
3      86
4      94
5      93
6      93
7      86
8      92
9      94
10     95
11     94
12    101
13     82
14     83
15     88
16     92
17     97
18     81
19     95
20    101
21     94
22     98
23     96
24     90
25     96
26    103
27     98
28     93
29     90
     ...
70     88
71     85
72     99
73    103
74     94
75     93
76     88
77    102
78     86
79     93
80     84
81     85
82     88
83     90
84     93
85     89
86    102
87    104
88     87
89    101
90    101
91    103
92     98
93     88
94    100
95    102
96     99
97    106
98     95
99     90
Length: 100, dtype: int64

In [58]:
nba.sum(axis=0)

Name        Avery BradleyJae CrowderJohn HollandR.J. Hunte...
Team        Boston CelticsBoston CelticsBoston CelticsBost...
Number                                                   8079
Position    PGSFSGSGPFPFPFCPGPGCPGSGSGCSGSGSGSGPGSGSGPGCPF...
Age                                                     12311
DOB         2-Jun6-Jun5-Jun5-Jun10-Jun9-Jun8-JunJul-002-Ju...
Weight                                                 101236
Salary                                            2.15984e+09
dtype: object

In [60]:
nba.sum(axis=1)

0       7730542.0
1       6796476.0
2           262.0
3       1148875.0
4       5000268.0
5      12000359.0
6       1171271.0
7       2165464.0
8       1824584.0
9       3431318.0
10      2569551.0
11      6913085.0
12      3425768.0
13      1750088.0
14      2617298.0
15      3425797.0
16       845295.0
17      1500249.0
18      1335745.0
19      6300234.0
20      1600080.0
21       134466.0
22      1500198.0
23     19689314.0
24      1140462.0
25       947555.0
26       981651.0
27       947564.0
28       947524.0
29     11236233.0
          ...
427      525387.0
428     8043143.0
429      625327.0
430      947533.0
431     6981086.0
432     2894301.0
433     6000252.0
434     5016334.0
435     3076160.0
436     4236507.0
437     2525387.0
438      525345.0
439     1415805.0
440     2855145.0
441     2638001.0
442     4775289.0
443     2658457.0
444     9463732.0
445     3777941.0
446    12000304.0
447     1176175.0
448    15409842.0
449     1348674.0
450     2050256.0
451      981603.0
452     2240095.0
453     2433570.0
454      900228.0
455     2900303.0
456      947557.0
Length: 457, dtype: float64

In [61]:
# df.values = converting pandans to numpy array
df.values

array([[ 4,  4,  6, 81],
       [ 2,  3,  9, 71],
       [ 1,  4,  7, 83],
       [ 3,  5,  7, 71],
       [ 4,  4,  9, 77],
       [ 3,  6,  7, 77],
       [ 3,  6,  6, 78],
       [ 3,  4,  9, 70],
       [ 4,  3,  8, 77],
       [ 4,  3,  6, 81],
       [ 4,  4,  8, 79],
       [ 4,  4,  9, 77],
       [ 3,  6,  9, 83],
       [ 1,  3,  6, 72],
       [ 1,  6,  6, 70],
       [ 2,  6,  7, 73],
       [ 4,  3,  6, 79],
       [ 1,  6,  8, 82],
       [ 1,  3,  7, 70],
       [ 1,  6,  7, 81],
       [ 3,  5,  9, 84],
       [ 4,  6,  6, 78],
       [ 1,  6,  7, 84],
       [ 3,  6,  9, 78],
       [ 2,  5,  6, 77],
       [ 1,  3,  6, 86],
       [ 1,  5,  9, 88],
       [ 2,  5,  8, 83],
       [ 4,  4,  9, 76],
       [ 2,  4,  7, 77],
       [ 3,  4,  6, 70],
       [ 2,  3,  8, 87],
       [ 3,  6,  7, 74],
       [ 1,  5,  8, 78],
       [ 4,  6,  9, 77],
       [ 3,  3,  7, 82],
       [ 3,  3,  9, 82],
       [ 1,  5,  6, 88],
       [ 1,  3,  8, 82],
       [ 1,  5,  9, 71],
       [ 3,  3,  8, 82],
       [ 1,  5,  8, 87],
       [ 4,  6,  8, 81],
       [ 2,  4,  7, 72],
       [ 2,  4,  9, 84],
       [ 2,  6,  9, 83],
       [ 2,  5,  9, 78],
       [ 1,  3,  6, 70],
       [ 1,  3,  9, 71],
       [ 3,  4,  9, 71],
       [ 2,  5,  8, 88],
       [ 4,  6,  9, 79],
       [ 1,  6,  7, 83],
       [ 3,  3,  6, 86],
       [ 2,  4,  6, 82],
       [ 1,  3,  8, 89],
       [ 1,  6,  7, 81],
       [ 3,  4,  6, 85],
       [ 1,  6,  9, 82],
       [ 3,  3,  9, 85],
       [ 4,  5,  8, 84],
       [ 2,  5,  9, 70],
       [ 4,  4,  6, 80],
       [ 3,  4,  8, 79],
       [ 4,  6,  7, 78],
       [ 2,  6,  6, 84],
       [ 1,  3,  7, 81],
       [ 3,  5,  9, 79],
       [ 2,  3,  6, 76],
       [ 1,  4,  8, 71],
       [ 2,  6,  8, 72],
       [ 2,  5,  8, 70],
       [ 3,  6,  6, 84],
       [ 4,  6,  8, 85],
       [ 2,  4,  6, 82],
       [ 1,  3,  8, 81],
       [ 2,  3,  9, 74],
       [ 4,  6,  6, 86],
       [ 4,  4,  8, 70],
       [ 4,  3,  7, 79],
       [ 2,  3,  6, 73],
       [ 1,  4,  9, 71],
       [ 4,  5,  8, 71],
       [ 3,  4,  7, 76],
       [ 3,  4,  6, 80],
       [ 1,  4,  6, 78],
       [ 2,  5,  8, 87],
       [ 3,  5,  8, 88],
       [ 3,  6,  6, 72],
       [ 4,  6,  6, 85],
       [ 3,  3,  6, 89],
       [ 3,  3,  8, 89],
       [ 4,  3,  9, 82],
       [ 2,  5,  6, 75],
       [ 1,  4,  7, 88],
       [ 4,  4,  9, 85],
       [ 4,  6,  7, 82],
       [ 3,  6,  9, 88],
       [ 2,  3,  6, 84],
       [ 3,  5,  8, 74]])

In [62]:
dia.values

array([[148.   ,  72.   ,  35.   , ...,   0.627,  50.   ,   1.   ],
       [ 85.   ,  66.   ,  29.   , ...,   0.351,  31.   ,   0.   ],
       [183.   ,  64.   ,   0.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [121.   ,  72.   ,  23.   , ...,   0.245,  30.   ,   0.   ],
       [126.   ,  60.   ,   0.   , ...,   0.349,  47.   ,   1.   ],
       [ 93.   ,  70.   ,  31.   , ...,   0.315,  23.   ,   0.   ]])

In [63]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0, ..., 180, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99, ..., 235, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30, ..., 205,
        'Boston University', nan],
       ...,
       ['Raul Neto', 'Utah Jazz', 25, ..., 179, nan, 900000.0],
       ['Tibor Pleiss', 'Utah Jazz', 21, ..., 256, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24, ..., 231, 'Kansas', 947276.0]],
      dtype=object)

In [64]:
# selecting columns
# df.col-name = use when we don't have space in column name e.g.=glucose
# df['col-name'] = use when we have space in column name e.g.=blood pressure
dia.Glucose

0      148
1       85
2      183
3       89
4      137
5      116
6       78
7      115
8      197
9      125
10     110
11     168
12     139
13     189
14     166
15     100
16     118
17     107
18     103
19     115
20     126
21      99
22     196
23     119
24     143
25     125
26     147
27      97
28     145
29     117
      ...
738     99
739    102
740    120
741    102
742    109
743    140
744    153
745    100
746    147
747     81
748    187
749    162
750    136
751    121
752    108
753    181
754    154
755    128
756    137
757    123
758    106
759    190
760     88
761    170
762     89
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64

In [68]:
df.columns

Index(['Hours of study', 'Hours of playing', 'Hours of sleeping',
       'percentage'],
      dtype='object')

In [71]:
df[['Hours of study']]

    Hours of study  Hours of playing
0                4                 4
1                2                 3
2                1                 4
3                3                 5
4                4                 4
5                3                 6
6                3                 6
7                3                 4
8                4                 3
9                4                 3
10               4                 4
11               4                 4
12               3                 6
13               1                 3
14               1                 6
15               2                 6
16               4                 3
17               1                 6
18               1                 3
19               1                 6
20               3                 5
21               4                 6
22               1                 6
23               3                 6
24               2                 5
25               1                 3
26               1                 5
27               2                 5
28               4                 4
29               2                 4
..             ...               ...
70               2                 6
71               2                 5
72               3                 6
73               4                 6
74               2                 4
75               1                 3
76               2                 3
77               4                 6
78               4                 4
79               4                 3
80               2                 3
81               1                 4
82               4                 5
83               3                 4
84               3                 4
85               1                 4
86               2                 5
87               3                 5
88               3                 6
89               4                 6
90               3                 3
91               3                 3
92               4                 3
93               2                 5
94               1                 4
95               4                 4
96               4                 6
97               3                 6
98               2                 3
99               3                 5

[100 rows x 2 columns]

In [72]:
df[['Hours of study','Hours of playing']]

    Hours of study  Hours of playing
0                4                 4
1                2                 3
2                1                 4
3                3                 5
4                4                 4
5                3                 6
6                3                 6
7                3                 4
8                4                 3
9                4                 3
10               4                 4
11               4                 4
12               3                 6
13               1                 3
14               1                 6
15               2                 6
16               4                 3
17               1                 6
18               1                 3
19               1                 6
20               3                 5
21               4                 6
22               1                 6
23               3                 6
24               2                 5
25               1                 3
26               1                 5
27               2                 5
28               4                 4
29               2                 4
..             ...               ...
70               2                 6
71               2                 5
72               3                 6
73               4                 6
74               2                 4
75               1                 3
76               2                 3
77               4                 6
78               4                 4
79               4                 3
80               2                 3
81               1                 4
82               4                 5
83               3                 4
84               3                 4
85               1                 4
86               2                 5
87               3                 5
88               3                 6
89               4                 6
90               3                 3
91               3                 3
92               4                 3
93               2                 5
94               1                 4
95               4                 4
96               4                 6
97               3                 6
98               2                 3
99               3                 5

[100 rows x 2 columns]

In [73]:
glu=dia.Glucose.values
glu

array([148,  85, 183,  89, 137, 116,  78, 115, 197, 125, 110, 168, 139,
       189, 166, 100, 118, 107, 103, 115, 126,  99, 196, 119, 143, 125,
       147,  97, 145, 117, 109, 158,  88,  92, 122, 103, 138, 102,  90,
       111, 180, 133, 106, 171, 159, 180, 146,  71, 103, 105, 103, 101,
        88, 176, 150,  73, 187, 100, 146, 105,  84, 133,  44, 141, 114,
        99, 109, 109,  95, 146, 100, 139, 126, 129,  79,   0,  62,  95,
       131, 112, 113,  74,  83, 101, 137, 110, 106, 100, 136, 107,  80,
       123,  81, 134, 142, 144,  92,  71,  93, 122, 163, 151, 125,  81,
        85, 126,  96, 144,  83,  95, 171, 155,  89,  76, 160, 146, 124,
        78,  97,  99, 162, 111, 107, 132, 113,  88, 120, 118, 117, 105,
       173, 122, 170,  84,  96, 125, 100,  93, 129, 105, 128, 106, 108,
       108, 154, 102,  57, 106, 147,  90, 136, 114, 156, 153, 188, 152,
        99, 109,  88, 163, 151, 102, 114, 100, 131, 104, 148, 120, 110,
       111, 102, 134,  87,  79,  75, 179,  85, 129, 143, 130,  87, 119,
         0,  73, 141, 194, 181, 128, 109, 139, 111, 123, 159, 135,  85,
       158, 105, 107, 109, 148, 113, 138, 108,  99, 103, 111, 196, 162,
        96, 184,  81, 147, 179, 140, 112, 151, 109, 125,  85, 112, 177,
       158, 119, 142, 100,  87, 101, 162, 197, 117, 142, 134,  79, 122,
        74, 171, 181, 179, 164, 104,  91,  91, 139, 119, 146, 184, 122,
       165, 124, 111, 106, 129,  90,  86,  92, 113, 111, 114, 193, 155,
       191, 141,  95, 142, 123,  96, 138, 128, 102, 146, 101, 108, 122,
        71, 106, 100, 106, 104, 114, 108, 146, 129, 133, 161, 108, 136,
       155, 119,  96, 108,  78, 107, 128, 128, 161, 151, 146, 126, 100,
       112, 167, 144,  77, 115, 150, 120, 161, 137, 128, 124,  80, 106,
       155, 113, 109, 112,  99, 182, 115, 194, 129, 112, 124, 152, 112,
       157, 122, 179, 102, 105, 118,  87, 180, 106,  95, 165, 117, 115,
       152, 178, 130,  95,   0, 122,  95, 126, 139, 116,  99,   0,  92,
       137,  61,  90,  90, 165, 125, 129,  88, 196, 189, 158, 103, 146,
       147,  99, 124, 101,  81, 133, 173, 118,  84, 105, 122, 140,  98,
        87, 156,  93, 107, 105, 109,  90, 125, 119, 116, 105, 144, 100,
       100, 166, 131, 116, 158, 127,  96, 131,  82, 193,  95, 137, 136,
        72, 168, 123, 115, 101, 197, 172, 102, 112, 143, 143, 138, 173,
        97, 144,  83, 129, 119,  94, 102, 115, 151, 184,  94, 181, 135,
        95,  99,  89,  80, 139,  90, 141, 140, 147,  97, 107, 189,  83,
       117, 108, 117, 180, 100,  95, 104, 120,  82, 134,  91, 119, 100,
       175, 135,  86, 148, 134, 120,  71,  74,  88, 115, 124,  74,  97,
       120, 154, 144, 137, 119, 136, 114, 137, 105, 114, 126, 132, 158,
       123,  85,  84, 145, 135, 139, 173,  99, 194,  83,  89,  99, 125,
        80, 166, 110,  81, 195, 154, 117,  84,   0,  94,  96,  75, 180,
       130,  84, 120,  84, 139,  91,  91,  99, 163, 145, 125,  76, 129,
        68, 124, 114, 130, 125,  87,  97, 116, 117, 111, 122, 107,  86,
        91,  77, 132, 105,  57, 127, 129, 100, 128,  90,  84,  88, 186,
       187, 131, 164, 189, 116,  84, 114,  88,  84, 124,  97, 110, 103,
        85, 125, 198,  87,  99,  91,  95,  99,  92, 154, 121,  78, 130,
       111,  98, 143, 119, 108, 118, 133, 197, 151, 109, 121, 100, 124,
        93, 143, 103, 176,  73, 111, 112, 132,  82, 123, 188,  67,  89,
       173, 109, 108,  96, 124, 150, 183, 124, 181,  92, 152, 111, 106,
       174, 168, 105, 138, 106, 117,  68, 112, 119, 112,  92, 183,  94,
       108,  90, 125, 132, 128,  94, 114, 102, 111, 128,  92, 104, 104,
        94,  97, 100, 102, 128, 147,  90, 103, 157, 167, 179, 136, 107,
        91, 117, 123, 120, 106, 155, 101, 120, 127,  80, 162, 199, 167,
       145, 115, 112, 145, 111,  98, 154, 165,  99,  68, 123,  91, 195,
       156,  93, 121, 101,  56, 162,  95, 125, 136, 129, 130, 107, 140,
       144, 107, 158, 121, 129,  90, 142, 169,  99, 127, 118, 122, 125,
       168, 129, 110,  80, 115, 127, 164,  93, 158, 126, 129, 134, 102,
       187, 173,  94, 108,  97,  83, 114, 149, 117, 111, 112, 116, 141,
       175,  92, 130, 120, 174, 106, 105,  95, 126,  65,  99, 102, 120,
       102, 109, 140, 153, 100, 147,  81, 187, 162, 136, 121, 108, 181,
       154, 128, 137, 123, 106, 190,  88, 170,  89, 101, 122, 121, 126,
        93], dtype=int64)

In [74]:
# df['col-name'].head()
df['Hours of study'].head()

0    4
1    2
2    1
3    3
4    4
Name: Hours of study, dtype: int32

In [75]:
dia[['Glucose','BloodPressure']].head()

   Glucose  BloodPressure
0      148             72
1       85             66
2      183             64
3       89             66
4      137             40

In [76]:
# Add new column at the end
# df['new-col']='value'
df['remark']='good'

In [77]:
df

    Hours of study  Hours of playing  Hours of sleeping  percentage remark
0                4                 4                  6          81   good
1                2                 3                  9          71   good
2                1                 4                  7          83   good
3                3                 5                  7          71   good
4                4                 4                  9          77   good
5                3                 6                  7          77   good
6                3                 6                  6          78   good
7                3                 4                  9          70   good
8                4                 3                  8          77   good
9                4                 3                  6          81   good
10               4                 4                  8          79   good
11               4                 4                  9          77   good
12               3                 6                  9          83   good
13               1                 3                  6          72   good
14               1                 6                  6          70   good
15               2                 6                  7          73   good
16               4                 3                  6          79   good
17               1                 6                  8          82   good
18               1                 3                  7          70   good
19               1                 6                  7          81   good
20               3                 5                  9          84   good
21               4                 6                  6          78   good
22               1                 6                  7          84   good
23               3                 6                  9          78   good
24               2                 5                  6          77   good
25               1                 3                  6          86   good
26               1                 5                  9          88   good
27               2                 5                  8          83   good
28               4                 4                  9          76   good
29               2                 4                  7          77   good
..             ...               ...                ...         ...    ...
70               2                 6                  8          72   good
71               2                 5                  8          70   good
72               3                 6                  6          84   good
73               4                 6                  8          85   good
74               2                 4                  6          82   good
75               1                 3                  8          81   good
76               2                 3                  9          74   good
77               4                 6                  6          86   good
78               4                 4                  8          70   good
79               4                 3                  7          79   good
80               2                 3                  6          73   good
81               1                 4                  9          71   good
82               4                 5                  8          71   good
83               3                 4                  7          76   good
84               3                 4                  6          80   good
85               1                 4                  6          78   good
86               2                 5                  8          87   good
87               3                 5                  8          88   good
88               3                 6                  6          72   good
89               4                 6                  6          85   good
90               3                 3                  6          89   good
91               3                 3                  8          89   good
92               4                 3                  9          82   good
93               2                 5                  6          75   good
94               1                 4                  7          88   good
95               4                 4                  9          85   good
96               4                 6                  7          82   good
97               3                 6                  9          88   good
98               2                 3                  6          84   good
99               3                 5                  8          74   good

[100 rows x 5 columns]

In [80]:
df['grading on scale 1']=df.percentage / 100

In [81]:
df

,Hours of study,Hours of playing,Hours of sleeping,percentage,remark,%,grading on scale 1
0,4,4,6,81,good,0.81,0.81
1,2,3,9,71,good,0.71,0.71
2,1,4,7,83,good,0.83,0.83
3,3,5,7,71,good,0.71,0.71
4,4,4,9,77,good,0.77,0.77
5,3,6,7,77,good,0.77,0.77
6,3,6,6,78,good,0.78,0.78
7,3,4,9,70,good,0.70,0.70
8,4,3,8,77,good,0.77,0.77
9,4,3,6,81,good,0.81,0.81
10,4,4,8,79,good,0.79,0.79
11,4,4,9,77,good,0.77,0.77
12,3,6,9,83,good,0.83,0.83
13,1,3,6,72,good,0.72,0.72
14,1,6,6,70,good,0.70,0.70
15,2,6,7,73,good,0.73,0.73
16,4,3,6,79,good,0.79,0.79
17,1,6,8,82,good,0.82,0.82
18,1,3,7,70,good,0.70,0.70
19,1,6,7,81,good,0.81,0.81
20,3,5,9,84,good,0.84,0.84
21,4,6,6,78,good,0.78,0.78
22,1,6,7,84,good,0.84,0.84
23,3,6,9,78,good,0.78,0.78
24,2,5,6,77,good,0.77,0.77
25,1,3,6,86,good,0.86,0.86
26,1,5,9,88,good,0.88,0.88
27,2,5,8,83,good,0.83,0.83
28,4,4,9,76,good,0.76,0.76
29,2,4,7,77,good,0.77,0.77
...,...,...,...,...,...,...,...
70,2,6,8,72,good,0.72,0.72
71,2,5,8,70,good,0.70,0.70
72,3,6,6,84,good,0.84,0.84
73,4,6,8,85,good,0.85,0.85
74,2,4,6,82,good,0.82,0.82
75,1,3,8,81,good,0.81,0.81
76,2,3,9,74,good,0.74,0.74
77,4,6,6,86,good,0.86,0.86
78,4,4,8,70,good,0.70,0.70
79,4,3,7,79,good,0.79,0.79
80,2,3,6,73,good,0.73,0.73
81,1,4,9,71,good,0.71,0.71
82,4,5,8,71,good,0.71,0.71
83,3,4,7,76,good,0.76,0.76
84,3,4,6,80,good,0.80,0.80
85,1,4,6,78,good,0.78,0.78
86,2,5,8,87,good,0.87,0.87
87,3,5,8,88,good,0.88,0.88
88,3,6,6,72,good,0.72,0.72
89,4,6,6,85,good,0.85,0.85
90,3,3,6,89,good,0.89,0.89
91,3,3,8,89,good,0.89,0.89
92,4,3,9,82,good,0.82,0.82
93,2,5,6,75,good,0.75,0.75
94,1,4,7,88,good,0.88,0.88
95,4,4,9,85,good,0.85,0.85
96,4,6,7,82,good,0.82,0.82
97,3,6,9,88,good,0.88,0.88
98,2,3,6,84,good,0.84,0.84
99,3,5,8,74,good,0.74,0.74

In [82]:
# Add new column at the specified location
# df.insert(location, column= column-name,value ='Value')
df.insert(2,'xyz',df.remark+ ' of student')

In [83]:
df

,Hours of study,Hours of playing,xyz,Hours of sleeping,percentage,remark,%,grading on scale 1
0,4,4,good of student,6,81,good,0.81,0.81
1,2,3,good of student,9,71,good,0.71,0.71
2,1,4,good of student,7,83,good,0.83,0.83
3,3,5,good of student,7,71,good,0.71,0.71
4,4,4,good of student,9,77,good,0.77,0.77
5,3,6,good of student,7,77,good,0.77,0.77
6,3,6,good of student,6,78,good,0.78,0.78
7,3,4,good of student,9,70,good,0.70,0.70
8,4,3,good of student,8,77,good,0.77,0.77
9,4,3,good of student,6,81,good,0.81,0.81
10,4,4,good of student,8,79,good,0.79,0.79
11,4,4,good of student,9,77,good,0.77,0.77
12,3,6,good of student,9,83,good,0.83,0.83
13,1,3,good of student,6,72,good,0.72,0.72
14,1,6,good of student,6,70,good,0.70,0.70
15,2,6,good of student,7,73,good,0.73,0.73
16,4,3,good of student,6,79,good,0.79,0.79
17,1,6,good of student,8,82,good,0.82,0.82
18,1,3,good of student,7,70,good,0.70,0.70
19,1,6,good of student,7,81,good,0.81,0.81
20,3,5,good of student,9,84,good,0.84,0.84
21,4,6,good of student,6,78,good,0.78,0.78
22,1,6,good of student,7,84,good,0.84,0.84
23,3,6,good of student,9,78,good,0.78,0.78
24,2,5,good of student,6,77,good,0.77,0.77
25,1,3,good of student,6,86,good,0.86,0.86
26,1,5,good of student,9,88,good,0.88,0.88
27,2,5,good of student,8,83,good,0.83,0.83
28,4,4,good of student,9,76,good,0.76,0.76
29,2,4,good of student,7,77,good,0.77,0.77
...,...,...,...,...,...,...,...,...
70,2,6,good of student,8,72,good,0.72,0.72
71,2,5,good of student,8,70,good,0.70,0.70
72,3,6,good of student,6,84,good,0.84,0.84
73,4,6,good of student,8,85,good,0.85,0.85
74,2,4,good of student,6,82,good,0.82,0.82
75,1,3,good of student,8,81,good,0.81,0.81
76,2,3,good of student,9,74,good,0.74,0.74
77,4,6,good of student,6,86,good,0.86,0.86
78,4,4,good of student,8,70,good,0.70,0.70
79,4,3,good of student,7,79,good,0.79,0.79
80,2,3,good of student,6,73,good,0.73,0.73
81,1,4,good of student,9,71,good,0.71,0.71
82,4,5,good of student,8,71,good,0.71,0.71
83,3,4,good of student,7,76,good,0.76,0.76
84,3,4,good of student,6,80,good,0.80,0.80
85,1,4,good of student,6,78,good,0.78,0.78
86,2,5,good of student,8,87,good,0.87,0.87
87,3,5,good of student,8,88,good,0.88,0.88
88,3,6,good of student,6,72,good,0.72,0.72
89,4,6,good of student,6,85,good,0.85,0.85
90,3,3,good of student,6,89,good,0.89,0.89
91,3,3,good of student,8,89,good,0.89,0.89
92,4,3,good of student,9,82,good,0.82,0.82
93,2,5,good of student,6,75,good,0.75,0.75
94,1,4,good of student,7,88,good,0.88,0.88
95,4,4,good of student,9,85,good,0.85,0.85
96,4,6,good of student,7,82,good,0.82,0.82
97,3,6,good of student,9,88,good,0.88,0.88
98,2,3,good of student,6,84,good,0.84,0.84
99,3,5,good of student,8,74,good,0.74,0.74

In [84]:
student=pd.DataFrame({'Hours of study':study,'Hours of playing':playing,'Hours of sleeping':sleeping,'percentage':percentage})

In [86]:
student

    Hours of study  Hours of playing  Hours of sleeping  percentage
0                4                 4                  6          81
1                2                 3                  9          71
2                1                 4                  7          83
3                3                 5                  7          71
4                4                 4                  9          77
5                3                 6                  7          77
6                3                 6                  6          78
7                3                 4                  9          70
8                4                 3                  8          77
9                4                 3                  6          81
10               4                 4                  8          79
11               4                 4                  9          77
12               3                 6                  9          83
13               1                 3                  6          72
14               1                 6                  6          70
15               2                 6                  7          73
16               4                 3                  6          79
17               1                 6                  8          82
18               1                 3                  7          70
19               1                 6                  7          81
20               3                 5                  9          84
21               4                 6                  6          78
22               1                 6                  7          84
23               3                 6                  9          78
24               2                 5                  6          77
25               1                 3                  6          86
26               1                 5                  9          88
27               2                 5                  8          83
28               4                 4                  9          76
29               2                 4                  7          77
..             ...               ...                ...         ...
70               2                 6                  8          72
71               2                 5                  8          70
72               3                 6                  6          84
73               4                 6                  8          85
74               2                 4                  6          82
75               1                 3                  8          81
76               2                 3                  9          74
77               4                 6                  6          86
78               4                 4                  8          70
79               4                 3                  7          79
80               2                 3                  6          73
81               1                 4                  9          71
82               4                 5                  8          71
83               3                 4                  7          76
84               3                 4                  6          80
85               1                 4                  6          78
86               2                 5                  8          87
87               3                 5                  8          88
88               3                 6                  6          72
89               4                 6                  6          85
90               3                 3                  6          89
91               3                 3                  8          89
92               4                 3                  9          82
93               2                 5                  6          75
94               1                 4                  7          88
95               4                 4                  9          85
96               4                 6                  7          82
97               3                 6                  9          88
98               2                 3                  6          84
99               3                 5                  8          74

[100 rows x 4 columns]

In [87]:
# Add the value in whole column
# df['col-name'].add(__)
x=student.add(10).values

In [88]:
x

array([[14, 14, 16, 91],
       [12, 13, 19, 81],
       [11, 14, 17, 93],
       [13, 15, 17, 81],
       [14, 14, 19, 87],
       [13, 16, 17, 87],
       [13, 16, 16, 88],
       [13, 14, 19, 80],
       [14, 13, 18, 87],
       [14, 13, 16, 91],
       [14, 14, 18, 89],
       [14, 14, 19, 87],
       [13, 16, 19, 93],
       [11, 13, 16, 82],
       [11, 16, 16, 80],
       [12, 16, 17, 83],
       [14, 13, 16, 89],
       [11, 16, 18, 92],
       [11, 13, 17, 80],
       [11, 16, 17, 91],
       [13, 15, 19, 94],
       [14, 16, 16, 88],
       [11, 16, 17, 94],
       [13, 16, 19, 88],
       [12, 15, 16, 87],
       [11, 13, 16, 96],
       [11, 15, 19, 98],
       [12, 15, 18, 93],
       [14, 14, 19, 86],
       [12, 14, 17, 87],
       [13, 14, 16, 80],
       [12, 13, 18, 97],
       [13, 16, 17, 84],
       [11, 15, 18, 88],
       [14, 16, 19, 87],
       [13, 13, 17, 92],
       [13, 13, 19, 92],
       [11, 15, 16, 98],
       [11, 13, 18, 92],
       [11, 15, 19, 81],
       [13, 13, 18, 92],
       [11, 15, 18, 97],
       [14, 16, 18, 91],
       [12, 14, 17, 82],
       [12, 14, 19, 94],
       [12, 16, 19, 93],
       [12, 15, 19, 88],
       [11, 13, 16, 80],
       [11, 13, 19, 81],
       [13, 14, 19, 81],
       [12, 15, 18, 98],
       [14, 16, 19, 89],
       [11, 16, 17, 93],
       [13, 13, 16, 96],
       [12, 14, 16, 92],
       [11, 13, 18, 99],
       [11, 16, 17, 91],
       [13, 14, 16, 95],
       [11, 16, 19, 92],
       [13, 13, 19, 95],
       [14, 15, 18, 94],
       [12, 15, 19, 80],
       [14, 14, 16, 90],
       [13, 14, 18, 89],
       [14, 16, 17, 88],
       [12, 16, 16, 94],
       [11, 13, 17, 91],
       [13, 15, 19, 89],
       [12, 13, 16, 86],
       [11, 14, 18, 81],
       [12, 16, 18, 82],
       [12, 15, 18, 80],
       [13, 16, 16, 94],
       [14, 16, 18, 95],
       [12, 14, 16, 92],
       [11, 13, 18, 91],
       [12, 13, 19, 84],
       [14, 16, 16, 96],
       [14, 14, 18, 80],
       [14, 13, 17, 89],
       [12, 13, 16, 83],
       [11, 14, 19, 81],
       [14, 15, 18, 81],
       [13, 14, 17, 86],
       [13, 14, 16, 90],
       [11, 14, 16, 88],
       [12, 15, 18, 97],
       [13, 15, 18, 98],
       [13, 16, 16, 82],
       [14, 16, 16, 95],
       [13, 13, 16, 99],
       [13, 13, 18, 99],
       [14, 13, 19, 92],
       [12, 15, 16, 85],
       [11, 14, 17, 98],
       [14, 14, 19, 95],
       [14, 16, 17, 92],
       [13, 16, 19, 98],
       [12, 13, 16, 94],
       [13, 15, 18, 84]])

In [89]:
type(x)

numpy.ndarray

In [90]:
# subtract the value in whole column
# df['col-name'].sub(5)
y=student.sub(10).values

In [93]:
y[:10,:]

array([[-6, -6, -4, 71],
       [-8, -7, -1, 61],
       [-9, -6, -3, 73],
       [-7, -5, -3, 61],
       [-6, -6, -1, 67],
       [-7, -4, -3, 67],
       [-7, -4, -4, 68],
       [-7, -6, -1, 60],
       [-6, -7, -2, 67],
       [-6, -7, -4, 71]])

In [103]:
q=student['percentage'].sub(10)

In [104]:
q

0     71
1     61
2     73
3     61
4     67
5     67
6     68
7     60
8     67
9     71
10    69
11    67
12    73
13    62
14    60
15    63
16    69
17    72
18    60
19    71
20    74
21    68
22    74
23    68
24    67
25    76
26    78
27    73
28    66
29    67
      ..
70    62
71    60
72    74
73    75
74    72
75    71
76    64
77    76
78    60
79    69
80    63
81    61
82    61
83    66
84    70
85    68
86    77
87    78
88    62
89    75
90    79
91    79
92    72
93    65
94    78
95    75
96    72
97    78
98    74
99    64
Name: percentage, Length: 100, dtype: int32

In [105]:
type(q)

pandas.core.series.Series

In [99]:
z=student['percentage'].sub(10).values

In [100]:
z

array([71, 61, 73, 61, 67, 67, 68, 60, 67, 71, 69, 67, 73, 62, 60, 63, 69,
       72, 60, 71, 74, 68, 74, 68, 67, 76, 78, 73, 66, 67, 60, 77, 64, 68,
       67, 72, 72, 78, 72, 61, 72, 77, 71, 62, 74, 73, 68, 60, 61, 61, 78,
       69, 73, 76, 72, 79, 71, 75, 72, 75, 74, 60, 70, 69, 68, 74, 71, 69,
       66, 61, 62, 60, 74, 75, 72, 71, 64, 76, 60, 69, 63, 61, 61, 66, 70,
       68, 77, 78, 62, 75, 79, 79, 72, 65, 78, 75, 72, 78, 74, 64])

In [101]:
type(z)

numpy.ndarray

In [106]:
# Multiply the value in whole column
# df['col-name'].mul(2)
w=student.mul(2).values

In [107]:
w

array([[  8,   8,  12, 162],
       [  4,   6,  18, 142],
       [  2,   8,  14, 166],
       [  6,  10,  14, 142],
       [  8,   8,  18, 154],
       [  6,  12,  14, 154],
       [  6,  12,  12, 156],
       [  6,   8,  18, 140],
       [  8,   6,  16, 154],
       [  8,   6,  12, 162],
       [  8,   8,  16, 158],
       [  8,   8,  18, 154],
       [  6,  12,  18, 166],
       [  2,   6,  12, 144],
       [  2,  12,  12, 140],
       [  4,  12,  14, 146],
       [  8,   6,  12, 158],
       [  2,  12,  16, 164],
       [  2,   6,  14, 140],
       [  2,  12,  14, 162],
       [  6,  10,  18, 168],
       [  8,  12,  12, 156],
       [  2,  12,  14, 168],
       [  6,  12,  18, 156],
       [  4,  10,  12, 154],
       [  2,   6,  12, 172],
       [  2,  10,  18, 176],
       [  4,  10,  16, 166],
       [  8,   8,  18, 152],
       [  4,   8,  14, 154],
       [  6,   8,  12, 140],
       [  4,   6,  16, 174],
       [  6,  12,  14, 148],
       [  2,  10,  16, 156],
       [  8,  12,  18, 154],
       [  6,   6,  14, 164],
       [  6,   6,  18, 164],
       [  2,  10,  12, 176],
       [  2,   6,  16, 164],
       [  2,  10,  18, 142],
       [  6,   6,  16, 164],
       [  2,  10,  16, 174],
       [  8,  12,  16, 162],
       [  4,   8,  14, 144],
       [  4,   8,  18, 168],
       [  4,  12,  18, 166],
       [  4,  10,  18, 156],
       [  2,   6,  12, 140],
       [  2,   6,  18, 142],
       [  6,   8,  18, 142],
       [  4,  10,  16, 176],
       [  8,  12,  18, 158],
       [  2,  12,  14, 166],
       [  6,   6,  12, 172],
       [  4,   8,  12, 164],
       [  2,   6,  16, 178],
       [  2,  12,  14, 162],
       [  6,   8,  12, 170],
       [  2,  12,  18, 164],
       [  6,   6,  18, 170],
       [  8,  10,  16, 168],
       [  4,  10,  18, 140],
       [  8,   8,  12, 160],
       [  6,   8,  16, 158],
       [  8,  12,  14, 156],
       [  4,  12,  12, 168],
       [  2,   6,  14, 162],
       [  6,  10,  18, 158],
       [  4,   6,  12, 152],
       [  2,   8,  16, 142],
       [  4,  12,  16, 144],
       [  4,  10,  16, 140],
       [  6,  12,  12, 168],
       [  8,  12,  16, 170],
       [  4,   8,  12, 164],
       [  2,   6,  16, 162],
       [  4,   6,  18, 148],
       [  8,  12,  12, 172],
       [  8,   8,  16, 140],
       [  8,   6,  14, 158],
       [  4,   6,  12, 146],
       [  2,   8,  18, 142],
       [  8,  10,  16, 142],
       [  6,   8,  14, 152],
       [  6,   8,  12, 160],
       [  2,   8,  12, 156],
       [  4,  10,  16, 174],
       [  6,  10,  16, 176],
       [  6,  12,  12, 144],
       [  8,  12,  12, 170],
       [  6,   6,  12, 178],
       [  6,   6,  16, 178],
       [  8,   6,  18, 164],
       [  4,  10,  12, 150],
       [  2,   8,  14, 176],
       [  8,   8,  18, 170],
       [  8,  12,  14, 164],
       [  6,  12,  18, 176],
       [  4,   6,  12, 168],
       [  6,  10,  16, 148]])

In [113]:
t=student['Hours of study'].mul(2)

In [114]:
t.head()

0    8
1    4
2    2
3    6
4    8
Name: Hours of study, dtype: int32

In [115]:
type(t)

pandas.core.series.Series

In [116]:
e=student['Hours of study'].mul(2).values

In [117]:
e

array([8, 4, 2, 6, 8, 6, 6, 6, 8, 8, 8, 8, 6, 2, 2, 4, 8, 2, 2, 2, 6, 8,
       2, 6, 4, 2, 2, 4, 8, 4, 6, 4, 6, 2, 8, 6, 6, 2, 2, 2, 6, 2, 8, 4,
       4, 4, 4, 2, 2, 6, 4, 8, 2, 6, 4, 2, 2, 6, 2, 6, 8, 4, 8, 6, 8, 4,
       2, 6, 4, 2, 4, 4, 6, 8, 4, 2, 4, 8, 8, 8, 4, 2, 8, 6, 6, 2, 4, 6,
       6, 8, 6, 6, 8, 4, 2, 8, 8, 6, 4, 6])

In [118]:
# Divide the value in whole column
# df['col-name'].div(2)
d=student.div(2).values

In [119]:
d

array([[ 2. ,  2. ,  3. , 40.5],
       [ 1. ,  1.5,  4.5, 35.5],
       [ 0.5,  2. ,  3.5, 41.5],
       [ 1.5,  2.5,  3.5, 35.5],
       [ 2. ,  2. ,  4.5, 38.5],
       [ 1.5,  3. ,  3.5, 38.5],
       [ 1.5,  3. ,  3. , 39. ],
       [ 1.5,  2. ,  4.5, 35. ],
       [ 2. ,  1.5,  4. , 38.5],
       [ 2. ,  1.5,  3. , 40.5],
       [ 2. ,  2. ,  4. , 39.5],
       [ 2. ,  2. ,  4.5, 38.5],
       [ 1.5,  3. ,  4.5, 41.5],
       [ 0.5,  1.5,  3. , 36. ],
       [ 0.5,  3. ,  3. , 35. ],
       [ 1. ,  3. ,  3.5, 36.5],
       [ 2. ,  1.5,  3. , 39.5],
       [ 0.5,  3. ,  4. , 41. ],
       [ 0.5,  1.5,  3.5, 35. ],
       [ 0.5,  3. ,  3.5, 40.5],
       [ 1.5,  2.5,  4.5, 42. ],
       [ 2. ,  3. ,  3. , 39. ],
       [ 0.5,  3. ,  3.5, 42. ],
       [ 1.5,  3. ,  4.5, 39. ],
       [ 1. ,  2.5,  3. , 38.5],
       [ 0.5,  1.5,  3. , 43. ],
       [ 0.5,  2.5,  4.5, 44. ],
       [ 1. ,  2.5,  4. , 41.5],
       [ 2. ,  2. ,  4.5, 38. ],
       [ 1. ,  2. ,  3.5, 38.5],
       [ 1.5,  2. ,  3. , 35. ],
       [ 1. ,  1.5,  4. , 43.5],
       [ 1.5,  3. ,  3.5, 37. ],
       [ 0.5,  2.5,  4. , 39. ],
       [ 2. ,  3. ,  4.5, 38.5],
       [ 1.5,  1.5,  3.5, 41. ],
       [ 1.5,  1.5,  4.5, 41. ],
       [ 0.5,  2.5,  3. , 44. ],
       [ 0.5,  1.5,  4. , 41. ],
       [ 0.5,  2.5,  4.5, 35.5],
       [ 1.5,  1.5,  4. , 41. ],
       [ 0.5,  2.5,  4. , 43.5],
       [ 2. ,  3. ,  4. , 40.5],
       [ 1. ,  2. ,  3.5, 36. ],
       [ 1. ,  2. ,  4.5, 42. ],
       [ 1. ,  3. ,  4.5, 41.5],
       [ 1. ,  2.5,  4.5, 39. ],
       [ 0.5,  1.5,  3. , 35. ],
       [ 0.5,  1.5,  4.5, 35.5],
       [ 1.5,  2. ,  4.5, 35.5],
       [ 1. ,  2.5,  4. , 44. ],
       [ 2. ,  3. ,  4.5, 39.5],
       [ 0.5,  3. ,  3.5, 41.5],
       [ 1.5,  1.5,  3. , 43. ],
       [ 1. ,  2. ,  3. , 41. ],
       [ 0.5,  1.5,  4. , 44.5],
       [ 0.5,  3. ,  3.5, 40.5],
       [ 1.5,  2. ,  3. , 42.5],
       [ 0.5,  3. ,  4.5, 41. ],
       [ 1.5,  1.5,  4.5, 42.5],
       [ 2. ,  2.5,  4. , 42. ],
       [ 1. ,  2.5,  4.5, 35. ],
       [ 2. ,  2. ,  3. , 40. ],
       [ 1.5,  2. ,  4. , 39.5],
       [ 2. ,  3. ,  3.5, 39. ],
       [ 1. ,  3. ,  3. , 42. ],
       [ 0.5,  1.5,  3.5, 40.5],
       [ 1.5,  2.5,  4.5, 39.5],
       [ 1. ,  1.5,  3. , 38. ],
       [ 0.5,  2. ,  4. , 35.5],
       [ 1. ,  3. ,  4. , 36. ],
       [ 1. ,  2.5,  4. , 35. ],
       [ 1.5,  3. ,  3. , 42. ],
       [ 2. ,  3. ,  4. , 42.5],
       [ 1. ,  2. ,  3. , 41. ],
       [ 0.5,  1.5,  4. , 40.5],
       [ 1. ,  1.5,  4.5, 37. ],
       [ 2. ,  3. ,  3. , 43. ],
       [ 2. ,  2. ,  4. , 35. ],
       [ 2. ,  1.5,  3.5, 39.5],
       [ 1. ,  1.5,  3. , 36.5],
       [ 0.5,  2. ,  4.5, 35.5],
       [ 2. ,  2.5,  4. , 35.5],
       [ 1.5,  2. ,  3.5, 38. ],
       [ 1.5,  2. ,  3. , 40. ],
       [ 0.5,  2. ,  3. , 39. ],
       [ 1. ,  2.5,  4. , 43.5],
       [ 1.5,  2.5,  4. , 44. ],
       [ 1.5,  3. ,  3. , 36. ],
       [ 2. ,  3. ,  3. , 42.5],
       [ 1.5,  1.5,  3. , 44.5],
       [ 1.5,  1.5,  4. , 44.5],
       [ 2. ,  1.5,  4.5, 41. ],
       [ 1. ,  2.5,  3. , 37.5],
       [ 0.5,  2. ,  3.5, 44. ],
       [ 2. ,  2. ,  4.5, 42.5],
       [ 2. ,  3. ,  3.5, 41. ],
       [ 1.5,  3. ,  4.5, 44. ],
       [ 1. ,  1.5,  3. , 42. ],
       [ 1.5,  2.5,  4. , 37. ]])

In [120]:
i=student['Hours of playing'].div(3).values

In [121]:
i

array([1.33333333, 1.        , 1.33333333, 1.66666667, 1.33333333,
       2.        , 2.        , 1.33333333, 1.        , 1.        ,
       1.33333333, 1.33333333, 2.        , 1.        , 2.        ,
       2.        , 1.        , 2.        , 1.        , 2.        ,
       1.66666667, 2.        , 2.        , 2.        , 1.66666667,
       1.        , 1.66666667, 1.66666667, 1.33333333, 1.33333333,
       1.33333333, 1.        , 2.        , 1.66666667, 2.        ,
       1.        , 1.        , 1.66666667, 1.        , 1.66666667,
       1.        , 1.66666667, 2.        , 1.33333333, 1.33333333,
       2.        , 1.66666667, 1.        , 1.        , 1.33333333,
       1.66666667, 2.        , 2.        , 1.        , 1.33333333,
       1.        , 2.        , 1.33333333, 2.        , 1.        ,
       1.66666667, 1.66666667, 1.33333333, 1.33333333, 2.        ,
       2.        , 1.        , 1.66666667, 1.        , 1.33333333,
       2.        , 1.66666667, 2.        , 2.        , 1.33333333,
       1.        , 1.        , 2.        , 1.33333333, 1.        ,
       1.        , 1.33333333, 1.66666667, 1.33333333, 1.33333333,
       1.33333333, 1.66666667, 1.66666667, 2.        , 2.        ,
       1.        , 1.        , 1.        , 1.66666667, 1.33333333,
       1.33333333, 2.        , 2.        , 1.        , 1.66666667])

In [122]:
# create new coloumn from manipulating existing coloumn
# df['new-col-name']= df['old-col-name'].add(5)
student['percentage'] = student['grade out of 1'].div(100)

KeyError: 'grade out of 1'

In [123]:
student['grade out of 1'] = student['percentage'].div(100)

In [124]:
student

,Hours of study,Hours of playing,Hours of sleeping,percentage,grade out of 1
0,4,4,6,81,0.81
1,2,3,9,71,0.71
2,1,4,7,83,0.83
3,3,5,7,71,0.71
4,4,4,9,77,0.77
5,3,6,7,77,0.77
6,3,6,6,78,0.78
7,3,4,9,70,0.70
8,4,3,8,77,0.77
9,4,3,6,81,0.81
10,4,4,8,79,0.79
11,4,4,9,77,0.77
12,3,6,9,83,0.83
13,1,3,6,72,0.72
14,1,6,6,70,0.70
15,2,6,7,73,0.73
16,4,3,6,79,0.79
17,1,6,8,82,0.82
18,1,3,7,70,0.70
19,1,6,7,81,0.81
20,3,5,9,84,0.84
21,4,6,6,78,0.78
22,1,6,7,84,0.84
23,3,6,9,78,0.78
24,2,5,6,77,0.77
25,1,3,6,86,0.86
26,1,5,9,88,0.88
27,2,5,8,83,0.83
28,4,4,9,76,0.76
29,2,4,7,77,0.77
...,...,...,...,...,...
70,2,6,8,72,0.72
71,2,5,8,70,0.70
72,3,6,6,84,0.84
73,4,6,8,85,0.85
74,2,4,6,82,0.82
75,1,3,8,81,0.81
76,2,3,9,74,0.74
77,4,6,6,86,0.86
78,4,4,8,70,0.70
79,4,3,7,79,0.79
80,2,3,6,73,0.73
81,1,4,9,71,0.71
82,4,5,8,71,0.71
83,3,4,7,76,0.76
84,3,4,6,80,0.80
85,1,4,6,78,0.78
86,2,5,8,87,0.87
87,3,5,8,88,0.88
88,3,6,6,72,0.72
89,4,6,6,85,0.85
90,3,3,6,89,0.89
91,3,3,8,89,0.89
92,4,3,9,82,0.82
93,2,5,6,75,0.75
94,1,4,7,88,0.88
95,4,4,9,85,0.85
96,4,6,7,82,0.82
97,3,6,9,88,0.88
98,2,3,6,84,0.84
99,3,5,8,74,0.74

In [125]:
#count the value in coloumn
#df['col-name'].value_counts()
temp0 = student.head(10)

In [126]:
temp0

,Hours of study,Hours of playing,Hours of sleeping,percentage,grade out of 1
0,4,4,6,81,0.81
1,2,3,9,71,0.71
2,1,4,7,83,0.83
3,3,5,7,71,0.71
4,4,4,9,77,0.77
5,3,6,7,77,0.77
6,3,6,6,78,0.78
7,3,4,9,70,0.70
8,4,3,8,77,0.77
9,4,3,6,81,0.81

In [127]:
temp0['percentage'].value_counts()

77    3
71    2
81    2
78    1
70    1
83    1
Name: percentage, dtype: int64

In [130]:
nba.head(3)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN

In [131]:
nba['Team'].value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Los Angeles Clippers      15
Indiana Pacers            15
Houston Rockets           15
Atlanta Hawks             15
San Antonio Spurs         15
Utah Jazz                 15
Cleveland Cavaliers       15
Denver Nuggets            15
Phoenix Suns              15
Charlotte Hornets         15
Dallas Mavericks          15
Miami Heat                15
Toronto Raptors           15
Portland Trail Blazers    15
Sacramento Kings          15
Chicago Bulls             15
Oklahoma City Thunder     15
Boston Celtics            15
Washington Wizards        15
Brooklyn Nets             15
Philadelphia 76ers        15
Golden State Warriors     15
Los Angeles Lakers        15
Detroit Pistons           15
Minnesota Timberwolves    14
Orlando Magic             14
Name: Team, dtype: int64

In [149]:
nba.Team.value_counts().head()

New Orleans Pelicans    19
Memphis Grizzlies       18
New York Knicks         16
Milwaukee Bucks         16
Los Angeles Clippers    15
Name: Team, dtype: int64

In [134]:
student['percentage','grade out of 1'].value_counts()

KeyError: ('percentage', 'grade out of 1')

In [136]:
student['grade out of 1'].value_counts() # from abpve we cannot get values count of two column at the same time

0.82    10
0.71     8
0.70     8
0.77     7
0.84     7
0.81     7
0.78     7
0.79     6
0.88     6
0.85     5
0.83     5
0.72     4
0.74     3
0.76     3
0.86     3
0.87     3
0.89     3
0.80     2
0.73     2
0.75     1
Name: grade out of 1, dtype: int64

In [137]:
# df.col-name.unique() = give unique names in the column
# df.['col-name'].unique()
nba.Team.unique()

array(['Boston Celtics', 'Brooklyn Nets', 'New York Knicks',
       'Philadelphia 76ers', 'Toronto Raptors', 'Golden State Warriors',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Phoenix Suns',
       'Sacramento Kings', 'Chicago Bulls', 'Cleveland Cavaliers',
       'Detroit Pistons', 'Indiana Pacers', 'Milwaukee Bucks',
       'Dallas Mavericks', 'Houston Rockets', 'Memphis Grizzlies',
       'New Orleans Pelicans', 'San Antonio Spurs', 'Atlanta Hawks',
       'Charlotte Hornets', 'Miami Heat', 'Orlando Magic',
       'Washington Wizards', 'Denver Nuggets', 'Minnesota Timberwolves',
       'Oklahoma City Thunder', 'Portland Trail Blazers', 'Utah Jazz'],
      dtype=object)

In [138]:
dia.Glucose.unique()

array([148,  85, 183,  89, 137, 116,  78, 115, 197, 125, 110, 168, 139,
       189, 166, 100, 118, 107, 103, 126,  99, 196, 119, 143, 147,  97,
       145, 117, 109, 158,  88,  92, 122, 138, 102,  90, 111, 180, 133,
       106, 171, 159, 146,  71, 105, 101, 176, 150,  73, 187,  84,  44,
       141, 114,  95, 129,  79,   0,  62, 131, 112, 113,  74,  83, 136,
        80, 123,  81, 134, 142, 144,  93, 163, 151,  96, 155,  76, 160,
       124, 162, 132, 120, 173, 170, 128, 108, 154,  57, 156, 153, 188,
       152, 104,  87,  75, 179, 130, 194, 181, 135, 184, 140, 177, 164,
        91, 165,  86, 193, 191, 161, 167,  77, 182, 157, 178,  61,  98,
       127,  82,  72, 172,  94, 175, 195,  68, 186, 198, 121,  67, 174,
       199,  56, 169, 149,  65, 190], dtype=int64)

In [139]:
dia.BloodPressure.unique()

array([ 72,  66,  64,  40,  74,  50,   0,  70,  96,  92,  80,  60,  84,
        30,  88,  90,  94,  76,  82,  75,  58,  78,  68, 110,  56,  62,
        85,  86,  48,  44,  65, 108,  55, 122,  54,  52,  98, 104,  95,
        46, 102, 100,  61,  24,  38, 106, 114], dtype=int64)

In [147]:
nba.Position.unique()

array(['PG', 'SF', 'SG', 'PF', 'C'], dtype=object)

In [142]:
temp0['Hours of study'].unique()

array([4, 2, 1, 3], dtype=int64)

In [145]:
## df.col-name.nunique()
# df.['col-name'].nunique()
nba.Team.nunique()

30

In [146]:
dia.Glucose.nunique()

136

In [148]:
nba.Position.nunique()

5

In [150]:
l=nba

In [152]:
l.head()

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0

In [153]:
# drop row with null values
# df.dropna()
l.head(10)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0

In [154]:
l.shape

(457, 9)

In [155]:
l.dropna(inplace=True)
# Note : put inplace=True if you want to see change in original data frame

In [158]:
l.head(10)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6912869.0
12,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3425510.0

In [160]:
temp1=l.dropna()

In [164]:
temp1.head(10)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6912869.0
12,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3425510.0

In [165]:
### How i came to know that in nba dataset i have only 2 column
l.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
DOB         0
Weight      0
College     0
Salary      0
dtype: int64

In [166]:
b=nba
b.head(10)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6912869.0
12,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3425510.0

In [167]:
b.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
DOB         0
Weight      0
College     0
Salary      0
dtype: int64

In [168]:
nba.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
DOB         0
Weight      0
College     0
Salary      0
dtype: int64

In [169]:
nba.head(10)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6912869.0
12,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3425510.0

In [170]:
nba=pd.read_csv('nba.csv')

In [171]:
nba.head(10)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0

In [172]:
nba.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
DOB          0
Weight       0
College     84
Salary      11
dtype: int64

In [173]:
b=nba

In [177]:
# drop row with null values with specific column
# df.dropna(subset= ['col-name','col-name'])
temp2 = b.dropna(subset= ['Salary'])

In [178]:
temp2.head(10)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0

In [179]:
temp2.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
DOB          0
Weight       0
College     82
Salary       0
dtype: int64

In [180]:
# fill null values
# df.fillna(values)
b.head(5)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0

In [181]:
b.fillna('no-values')

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7.73034e+06
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6.79612e+06
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,no-values
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1.14864e+06
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,no-values,5e+06
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,no-values,1.2e+07
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1.17096e+06
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2.16516e+06
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1.82436e+06
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3.43104e+06
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2.56926e+06
11,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6.91287e+06
12,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3.42551e+06
13,James Young,Boston Celtics,13,SG,20,6-Jun,215,Kentucky,1.74984e+06
14,Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253,North Carolina,2.61698e+06
15,Bojan Bogdanovic,Brooklyn Nets,44,SG,27,8-Jun,216,no-values,3.42551e+06
16,Markel Brown,Brooklyn Nets,22,SG,24,3-Jun,190,Oklahoma State,845059
17,Wayne Ellington,Brooklyn Nets,21,SG,28,4-Jun,200,North Carolina,1.5e+06
18,Rondae Hollis-Jefferson,Brooklyn Nets,24,SG,21,7-Jun,220,Arizona,1.33548e+06
19,Jarrett Jack,Brooklyn Nets,2,PG,32,3-Jun,200,Georgia Tech,6.3e+06
20,Sergey Karasev,Brooklyn Nets,10,SG,22,7-Jun,208,no-values,1.59984e+06
21,Sean Kilpatrick,Brooklyn Nets,6,SG,26,4-Jun,219,Cincinnati,134215
22,Shane Larkin,Brooklyn Nets,0,PG,23,11-May,175,Miami (FL),1.5e+06
23,Brook Lopez,Brooklyn Nets,11,C,28,Jul-00,275,Stanford,1.9689e+07
24,Chris McCullough,Brooklyn Nets,1,PF,21,11-Jun,200,Syracuse,1.14024e+06
25,Willie Reed,Brooklyn Nets,33,PF,26,10-Jun,220,Saint Louis,947276
26,Thomas Robinson,Brooklyn Nets,41,PF,25,10-Jun,237,Kansas,981348
27,Henry Sims,Brooklyn Nets,14,C,26,10-Jun,248,Georgetown,947276
28,Donald Sloan,Brooklyn Nets,15,PG,28,3-Jun,205,Texas A&M,947276
29,Thaddeus Young,Brooklyn Nets,30,PF,27,8-Jun,221,Georgia Tech,1.1236e+07
...,...,...,...,...,...,...,...,...,...
427,Cliff Alexander,Portland Trail Blazers,34,PF,20,8-Jun,240,Kansas,525093
428,Al-Farouq Aminu,Portland Trail Blazers,8,SF,25,9-Jun,215,Wake Forest,8.0429e+06
429,Pat Connaughton,Portland Trail Blazers,5,SG,23,5-Jun,206,Notre Dame,625093
430,Allen Crabbe,Portland Trail Blazers,23,SG,24,6-Jun,210,California,947276
431,Ed Davis,Portland Trail Blazers,17,C,27,10-Jun,240,North Carolina,6.9808e+06
432,Maurice Harkless,Portland Trail Blazers,4,SF,23,9-Jun,215,St. John's,2.89406e+06
433,Gerald Henderson,Portland Trail Blazers,9,SG,28,5-Jun,215,Duke,6e+06
434,Chris Kaman,Portland Trail Blazers,35,C,34,Jul-00,265,Central Michigan,5.016e+06
435,Meyers Leonard,Portland Trail Blazers,11,PF,24,1-Jul,245,Illinois,3.07588e+06
436,Damian Lillard,Portland Trail Blazers,0,PG,25,3-Jun,195,Weber State,4.23629e+06
437,C.J. McCollum,Portland Trail Blazers,3,SG,24,4-Jun,200,Lehigh,2.52516e+06
438,Luis Montero,Portland Trail Blazers,44,SG,23,7-Jun,185,Westchester CC,525093
439,Mason Plumlee,Portland Trail Blazers,24,C,26,11-Jun,235,Duke,1.41552e+06
440,Brian Roberts,Portland Trail Blazers,2,PG,30,1-Jun,173,Dayton,2.85494e+06
441,Noah Vonleh,Portland Trail Blazers,21,PF,20,9-Jun,240,Indiana,2.63772e+06
442,Trevor Booker,Utah Jazz,33,PF,28,8-Jun,228,Clemson,4.775e+06
443,Trey Burke,Utah Jazz,3,PG,23,1-Jun,191,Michigan,2.65824e+06
444,Alec Burks,Utah Jazz,10,SG,24,6-Jun,214,Colorado,9.46348e+06
445,Dante Exum,Utah Jazz,11,PG,20,6-Jun,190,no-values,3.77772e+06
446,Derrick Favors,Utah Jazz,15,PF,24,10-Jun,265,Georgia Tech,1.2e+07
447,Rudy Gobert,Utah Jazz,27,C,23,1-Jul,245,no-values,1.17588e+06
448,Gordon Hayward,Utah Jazz,20,SF,26,8-Jun,226,Butler,1.54096e+07
449,Rodney Hood,Utah Jazz,5,SG,23,8-Jun,206,Duke,1.34844e+06
450,Joe Ingles,Utah Jazz,2,SF,28,8-Jun,226,no-values,2.05e+06
451,Chris Johnson,Utah Jazz,23,SF,26,6-Jun,206,Dayton,981348
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2.2398e+06
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2.43333e+06
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,no-values,900000
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,no-values,2.9e+06
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276

In [183]:
# fill null values with specific column
# df['col-name'].fillna(values)
# df['col-name'].fillna(values,inplace=true)
h=nba
h['College'].fillna('not-registered')

0                  Texas
1              Marquette
2      Boston University
3          Georgia State
4         not-registered
5         not-registered
6                    LSU
7                Gonzaga
8             Louisville
9         Oklahoma State
10            Ohio State
11            Washington
12            Ohio State
13              Kentucky
14        North Carolina
15        not-registered
16        Oklahoma State
17        North Carolina
18               Arizona
19          Georgia Tech
20        not-registered
21            Cincinnati
22            Miami (FL)
23              Stanford
24              Syracuse
25           Saint Louis
26                Kansas
27            Georgetown
28             Texas A&M
29          Georgia Tech
             ...
427               Kansas
428          Wake Forest
429           Notre Dame
430           California
431       North Carolina
432           St. John's
433                 Duke
434     Central Michigan
435             Illinois
436          Weber State
437               Lehigh
438       Westchester CC
439                 Duke
440               Dayton
441              Indiana
442              Clemson
443             Michigan
444             Colorado
445       not-registered
446         Georgia Tech
447       not-registered
448               Butler
449                 Duke
450       not-registered
451               Dayton
452             Kentucky
453               Butler
454       not-registered
455       not-registered
456               Kansas
Name: College, Length: 457, dtype: object

In [184]:
v=nba
v['College'].fillna('not-registered',inplace=True)

In [185]:
v

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,not-registered,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,not-registered,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6912869.0
12,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3425510.0
13,James Young,Boston Celtics,13,SG,20,6-Jun,215,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44,SG,27,8-Jun,216,not-registered,3425510.0
16,Markel Brown,Brooklyn Nets,22,SG,24,3-Jun,190,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21,SG,28,4-Jun,200,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24,SG,21,7-Jun,220,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2,PG,32,3-Jun,200,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10,SG,22,7-Jun,208,not-registered,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6,SG,26,4-Jun,219,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0,PG,23,11-May,175,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11,C,28,Jul-00,275,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1,PF,21,11-Jun,200,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33,PF,26,10-Jun,220,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41,PF,25,10-Jun,237,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14,C,26,10-Jun,248,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15,PG,28,3-Jun,205,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30,PF,27,8-Jun,221,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
427,Cliff Alexander,Portland Trail Blazers,34,PF,20,8-Jun,240,Kansas,525093.0
428,Al-Farouq Aminu,Portland Trail Blazers,8,SF,25,9-Jun,215,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5,SG,23,5-Jun,206,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23,SG,24,6-Jun,210,California,947276.0
431,Ed Davis,Portland Trail Blazers,17,C,27,10-Jun,240,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4,SF,23,9-Jun,215,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9,SG,28,5-Jun,215,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35,C,34,Jul-00,265,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11,PF,24,1-Jul,245,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0,PG,25,3-Jun,195,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3,SG,24,4-Jun,200,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44,SG,23,7-Jun,185,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24,C,26,11-Jun,235,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2,PG,30,1-Jun,173,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21,PF,20,9-Jun,240,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33,PF,28,8-Jun,228,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3,PG,23,1-Jun,191,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10,SG,24,6-Jun,214,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11,PG,20,6-Jun,190,not-registered,3777720.0
446,Derrick Favors,Utah Jazz,15,PF,24,10-Jun,265,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27,C,23,1-Jul,245,not-registered,1175880.0
448,Gordon Hayward,Utah Jazz,20,SF,26,8-Jun,226,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5,SG,23,8-Jun,206,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2,SF,28,8-Jun,226,not-registered,2050000.0
451,Chris Johnson,Utah Jazz,23,SF,26,6-Jun,206,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,not-registered,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,not-registered,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [188]:
# sort values - single coloumn
# df.sort_values('col-name')
# df.sort_values('col-name', ascending='False')
s=nba
s.sort_values('Name')

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0,PG,31,Jun-00,161,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0,PF,20,9-Jun,220,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9,SG,21,6-Jun,210,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33,PF,25,10-Jun,237,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15,C,30,10-Jun,245,Florida,12000000.0
330,Al Jefferson,Charlotte Hornets,25,C,31,10-Jun,289,not-registered,13500000.0
428,Al-Farouq Aminu,Portland Trail Blazers,8,SF,25,9-Jun,215,Wake Forest,8042895.0
368,Alan Anderson,Washington Wizards,6,SG,33,6-Jun,220,Michigan State,4000000.0
135,Alan Williams,Phoenix Suns,15,C,23,8-Jun,260,UC Santa Barbara,83397.0
444,Alec Burks,Utah Jazz,10,SG,24,6-Jun,214,Colorado,9463484.0
128,Alex Len,Phoenix Suns,21,C,22,1-Jul,260,Maryland,3807120.0
273,Alex Stepheson,Memphis Grizzlies,35,PF,28,10-Jun,270,USC,NaN
275,Alexis Ajinca,New Orleans Pelicans,42,C,28,2-Jul,248,not-registered,4389607.0
430,Allen Crabbe,Portland Trail Blazers,23,SG,24,6-Jun,210,California,947276.0
287,Alonzo Gee,New Orleans Pelicans,15,SF,29,6-Jun,225,Alabama,1320000.0
348,Amar'e Stoudemire,Miami Heat,5,PF,33,10-Jun,245,not-registered,947276.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,not-registered,12000000.0
90,Anderson Varejao,Golden State Warriors,18,PF,33,11-Jun,273,not-registered,289755.0
188,Andre Drummond,Detroit Pistons,0,C,22,11-Jun,279,Connecticut,3272091.0
83,Andre Iguodala,Golden State Warriors,9,SF,32,6-Jun,215,Arizona,11710456.0
304,Andre Miller,San Antonio Spurs,24,PG,40,3-Jun,200,Utah,250750.0
423,Andre Roberson,Oklahoma City Thunder,21,SG,24,7-Jun,210,Colorado,1210800.0
78,Andrew Bogut,Golden State Warriors,12,C,31,Jul-00,260,Utah,13800000.0
248,Andrew Goudelock,Houston Rockets,0,PG,27,3-Jun,200,Charleston,200600.0
362,Andrew Nicholson,Orlando Magic,44,PF,26,9-Jun,250,St. Bonaventure,2380593.0
411,Andrew Wiggins,Minnesota Timberwolves,22,SG,21,8-Jun,199,Kansas,5758680.0
108,Anthony Brown,Los Angeles Lakers,3,SF,23,7-Jun,210,Stanford,700000.0
281,Anthony Davis,New Orleans Pelicans,23,PF,23,10-Jun,253,Kentucky,7070730.0
421,Anthony Morrow,Oklahoma City Thunder,2,SG,30,5-Jun,210,Georgia Tech,3344000.0
195,Anthony Tolliver,Detroit Pistons,43,PF,31,8-Jun,240,Creighton,3000000.0
...,...,...,...,...,...,...,...,...,...
45,Tony Wroten,New York Knicks,5,SG,23,6-Jun,205,Washington,167406.0
242,Trevor Ariza,Houston Rockets,1,SF,30,8-Jun,215,UCLA,8193030.0
442,Trevor Booker,Utah Jazz,33,PF,28,8-Jun,228,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3,PG,23,1-Jun,191,Michigan,2658240.0
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
179,Tristan Thompson,Cleveland Cavaliers,13,C,25,9-Jun,238,Texas,14260870.0
325,Troy Daniels,Charlotte Hornets,30,SG,24,4-Jun,205,Virginia Commonwealth,947276.0
203,Ty Lawson,Indiana Pacers,10,PG,28,11-May,195,North Carolina,211744.0
215,Tyler Ennis,Milwaukee Bucks,11,PG,21,3-Jun,194,Syracuse,1662360.0
327,Tyler Hansbrough,Charlotte Hornets,50,PF,30,9-Jun,250,North Carolina,947276.0
345,Tyler Johnson,Miami Heat,8,SG,24,4-Jun,186,Fresno State,845059.0
14,Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253,North Carolina,2616975.0
285,Tyreke Evans,New Orleans Pelicans,1,SG,26,6-Jun,220,Memphis,10734586.0
124,Tyson Chandler,Phoenix Suns,4,C,33,1-Jul,240,not-registered,13000000.0
401,Tyus Jones,Minnesota Timberwolves,1,PG,20,2-Jun,195,Duke,1282080.0
343,Udonis Haslem,Miami Heat,40,PF,36,8-Jun,235,Florida,2854940.0
363,Victor Oladipo,Orlando Magic,5,SG,24,4-Jun,210,Indiana,5192520.0
261,Vince Carter,Memphis Grizzlies,15,SG,39,6-Jun,220,North Carolina,4088019.0
322,Walter Tavares,Atlanta Hawks,22,C,24,3-Jul,260,not-registered,1000000.0
17,Wayne Ellington,Brooklyn Nets,21,SG,28,4-Jun,200,North Carolina,1500000.0
97,Wesley Johnson,Los Angeles Clippers,33,SF,28,7-Jun,215,Syracuse,1100602.0
233,Wesley Matthews,Dallas Mavericks,23,SG,29,5-Jun,220,Marquette,16407500.0
385,Will Barton,Denver Nuggets,5,SF,25,6-Jun,175,Memphis,3533333.0
141,Willie Cauley-Stein,Sacramento Kings,0,C,22,Jul-00,240,Kentucky,3398280.0
25,Willie Reed,Brooklyn Nets,33,PF,26,10-Jun,220,Saint Louis,947276.0
386,Wilson Chandler,Denver Nuggets,21,SF,29,8-Jun,225,DePaul,10449438.0
270,Xavier Munford,Memphis Grizzlies,14,PG,24,3-Jun,180,Rhode Island,NaN
402,Zach LaVine,Minnesota Timberwolves,8,PG,21,5-Jun,189,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50,PF,34,9-Jun,260,Michigan State,9638555.0
237,Zaza Pachulia,Dallas Mavericks,27,C,32,11-Jun,275,not-registered,5200000.0

In [189]:
s.sort_values('Name').head(10)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0,PG,31,Jun-00,161,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0,PF,20,9-Jun,220,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9,SG,21,6-Jun,210,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33,PF,25,10-Jun,237,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15,C,30,10-Jun,245,Florida,12000000.0
330,Al Jefferson,Charlotte Hornets,25,C,31,10-Jun,289,not-registered,13500000.0
428,Al-Farouq Aminu,Portland Trail Blazers,8,SF,25,9-Jun,215,Wake Forest,8042895.0
368,Alan Anderson,Washington Wizards,6,SG,33,6-Jun,220,Michigan State,4000000.0
135,Alan Williams,Phoenix Suns,15,C,23,8-Jun,260,UC Santa Barbara,83397.0
444,Alec Burks,Utah Jazz,10,SG,24,6-Jun,214,Colorado,9463484.0

In [190]:
s.sort_values('Salary').head(20)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
32,Thanasis Antetokounmpo,New York Knicks,43,SF,23,7-Jun,205,not-registered,30888.0
291,Orlando Johnson,New Orleans Pelicans,0,SG,27,5-Jun,220,UC Santa Barbara,55722.0
130,Phil Pressey,Phoenix Suns,25,PG,25,11-May,175,Missouri,55722.0
135,Alan Williams,Phoenix Suns,15,C,23,8-Jun,260,UC Santa Barbara,83397.0
175,Jordan McRae,Cleveland Cavaliers,12,SG,25,5-Jun,179,Tennessee,111196.0
92,Jeff Ayres,Los Angeles Clippers,19,PF,29,9-Jun,250,Arizona State,111444.0
184,Lorenzo Brown,Detroit Pistons,17,PG,25,5-Jun,189,North Carolina State,111444.0
21,Sean Kilpatrick,Brooklyn Nets,6,SG,26,4-Jun,219,Cincinnati,134215.0
45,Tony Wroten,New York Knicks,5,SG,23,6-Jun,205,Washington,167406.0
282,Bryce Dejean-Jones,New Orleans Pelicans,31,SG,23,6-Jun,203,Iowa State,169883.0
326,Jorge Gutierrez,Charlotte Hornets,12,PG,27,3-Jun,189,California,189455.0
381,Marcus Thornton,Washington Wizards,15,SF,29,4-Jun,205,LSU,200600.0
248,Andrew Goudelock,Houston Rockets,0,PG,27,3-Jun,200,Charleston,200600.0
303,Kevin Martin,San Antonio Spurs,23,SG,33,7-Jun,199,Western Carolina,200600.0
123,Chase Budinger,Phoenix Suns,10,SF,28,7-Jun,209,Arizona,206192.0
203,Ty Lawson,Indiana Pacers,10,PG,28,11-May,195,North Carolina,211744.0
420,Nazr Mohammed,Oklahoma City Thunder,13,C,38,10-Jun,250,Kentucky,222888.0
73,Jason Thompson,Toronto Raptors,1,PF,29,11-Jun,250,Rider,245177.0
304,Andre Miller,San Antonio Spurs,24,PG,40,3-Jun,200,Utah,250750.0
396,JaKarr Sampson,Denver Nuggets,9,SG,23,9-Jun,214,St. John's,258489.0

In [192]:
# sort values - single coloumn
# df.sort_values('col-name')
# df.sort_values('col-name', ascending='False')
s.sort_values('Salary',ascending=False).head(10)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
109,Kobe Bryant,Los Angeles Lakers,24,SF,37,6-Jun,212,not-registered,25000000.0
169,LeBron James,Cleveland Cavaliers,23,SF,31,8-Jun,250,not-registered,22970500.0
33,Carmelo Anthony,New York Knicks,7,SF,32,8-Jun,240,Syracuse,22875000.0
251,Dwight Howard,Houston Rockets,12,C,30,11-Jun,265,not-registered,22359364.0
339,Chris Bosh,Miami Heat,1,PF,32,11-Jun,235,Georgia Tech,22192730.0
100,Chris Paul,Los Angeles Clippers,3,PG,31,Jun-00,175,Wake Forest,21468695.0
414,Kevin Durant,Oklahoma City Thunder,35,SF,27,9-Jun,240,Texas,20158622.0
164,Derrick Rose,Chicago Bulls,1,PG,27,3-Jun,190,Memphis,20093064.0
349,Dwyane Wade,Miami Heat,3,SG,34,4-Jun,220,Marquette,20000000.0
294,LaMarcus Aldridge,San Antonio Spurs,12,PF,30,11-Jun,240,Texas,19689000.0

In [197]:
# sort values - multi coloumn
# df.sort_values(['col-name1',col-name2])
# df.sort_values(['col-name1',col-name2], ascending='False')
s.sort_values(['Name','Salary'],ascending=False)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
237,Zaza Pachulia,Dallas Mavericks,27,C,32,11-Jun,275,not-registered,5200000.0
271,Zach Randolph,Memphis Grizzlies,50,PF,34,9-Jun,260,Michigan State,9638555.0
402,Zach LaVine,Minnesota Timberwolves,8,PG,21,5-Jun,189,UCLA,2148360.0
270,Xavier Munford,Memphis Grizzlies,14,PG,24,3-Jun,180,Rhode Island,NaN
386,Wilson Chandler,Denver Nuggets,21,SF,29,8-Jun,225,DePaul,10449438.0
25,Willie Reed,Brooklyn Nets,33,PF,26,10-Jun,220,Saint Louis,947276.0
141,Willie Cauley-Stein,Sacramento Kings,0,C,22,Jul-00,240,Kentucky,3398280.0
385,Will Barton,Denver Nuggets,5,SF,25,6-Jun,175,Memphis,3533333.0
233,Wesley Matthews,Dallas Mavericks,23,SG,29,5-Jun,220,Marquette,16407500.0
97,Wesley Johnson,Los Angeles Clippers,33,SF,28,7-Jun,215,Syracuse,1100602.0
17,Wayne Ellington,Brooklyn Nets,21,SG,28,4-Jun,200,North Carolina,1500000.0
322,Walter Tavares,Atlanta Hawks,22,C,24,3-Jul,260,not-registered,1000000.0
261,Vince Carter,Memphis Grizzlies,15,SG,39,6-Jun,220,North Carolina,4088019.0
363,Victor Oladipo,Orlando Magic,5,SG,24,4-Jun,210,Indiana,5192520.0
343,Udonis Haslem,Miami Heat,40,PF,36,8-Jun,235,Florida,2854940.0
401,Tyus Jones,Minnesota Timberwolves,1,PG,20,2-Jun,195,Duke,1282080.0
124,Tyson Chandler,Phoenix Suns,4,C,33,1-Jul,240,not-registered,13000000.0
285,Tyreke Evans,New Orleans Pelicans,1,SG,26,6-Jun,220,Memphis,10734586.0
14,Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253,North Carolina,2616975.0
345,Tyler Johnson,Miami Heat,8,SG,24,4-Jun,186,Fresno State,845059.0
327,Tyler Hansbrough,Charlotte Hornets,50,PF,30,9-Jun,250,North Carolina,947276.0
215,Tyler Ennis,Milwaukee Bucks,11,PG,21,3-Jun,194,Syracuse,1662360.0
203,Ty Lawson,Indiana Pacers,10,PG,28,11-May,195,North Carolina,211744.0
325,Troy Daniels,Charlotte Hornets,30,SG,24,4-Jun,205,Virginia Commonwealth,947276.0
179,Tristan Thompson,Cleveland Cavaliers,13,C,25,9-Jun,238,Texas,14260870.0
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
443,Trey Burke,Utah Jazz,3,PG,23,1-Jun,191,Michigan,2658240.0
442,Trevor Booker,Utah Jazz,33,PF,28,8-Jun,228,Clemson,4775000.0
242,Trevor Ariza,Houston Rockets,1,SF,30,8-Jun,215,UCLA,8193030.0
45,Tony Wroten,New York Knicks,5,SG,23,6-Jun,205,Washington,167406.0
...,...,...,...,...,...,...,...,...,...
195,Anthony Tolliver,Detroit Pistons,43,PF,31,8-Jun,240,Creighton,3000000.0
421,Anthony Morrow,Oklahoma City Thunder,2,SG,30,5-Jun,210,Georgia Tech,3344000.0
281,Anthony Davis,New Orleans Pelicans,23,PF,23,10-Jun,253,Kentucky,7070730.0
108,Anthony Brown,Los Angeles Lakers,3,SF,23,7-Jun,210,Stanford,700000.0
411,Andrew Wiggins,Minnesota Timberwolves,22,SG,21,8-Jun,199,Kansas,5758680.0
362,Andrew Nicholson,Orlando Magic,44,PF,26,9-Jun,250,St. Bonaventure,2380593.0
248,Andrew Goudelock,Houston Rockets,0,PG,27,3-Jun,200,Charleston,200600.0
78,Andrew Bogut,Golden State Warriors,12,C,31,Jul-00,260,Utah,13800000.0
423,Andre Roberson,Oklahoma City Thunder,21,SG,24,7-Jun,210,Colorado,1210800.0
304,Andre Miller,San Antonio Spurs,24,PG,40,3-Jun,200,Utah,250750.0
83,Andre Iguodala,Golden State Warriors,9,SF,32,6-Jun,215,Arizona,11710456.0
188,Andre Drummond,Detroit Pistons,0,C,22,11-Jun,279,Connecticut,3272091.0
90,Anderson Varejao,Golden State Warriors,18,PF,33,11-Jun,273,not-registered,289755.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,not-registered,12000000.0
348,Amar'e Stoudemire,Miami Heat,5,PF,33,10-Jun,245,not-registered,947276.0
287,Alonzo Gee,New Orleans Pelicans,15,SF,29,6-Jun,225,Alabama,1320000.0
430,Allen Crabbe,Portland Trail Blazers,23,SG,24,6-Jun,210,California,947276.0
275,Alexis Ajinca,New Orleans Pelicans,42,C,28,2-Jul,248,not-registered,4389607.0
273,Alex Stepheson,Memphis Grizzlies,35,PF,28,10-Jun,270,USC,NaN
128,Alex Len,Phoenix Suns,21,C,22,1-Jul,260,Maryland,3807120.0
444,Alec Burks,Utah Jazz,10,SG,24,6-Jun,214,Colorado,9463484.0
135,Alan Williams,Phoenix Suns,15,C,23,8-Jun,260,UC Santa Barbara,83397.0
368,Alan Anderson,Washington Wizards,6,SG,33,6-Jun,220,Michigan State,4000000.0
428,Al-Farouq Aminu,Portland Trail Blazers,8,SF,25,9-Jun,215,Wake Forest,8042895.0
330,Al Jefferson,Charlotte Hornets,25,C,31,10-Jun,289,not-registered,13500000.0
312,Al Horford,Atlanta Hawks,15,C,30,10-Jun,245,Florida,12000000.0
404,Adreian Payne,Minnesota Timberwolves,33,PF,25,10-Jun,237,Michigan State,1938840.0
328,Aaron Harrison,Charlotte Hornets,9,SG,21,6-Jun,210,Kentucky,525093.0
356,Aaron Gordon,Orlando Magic,0,PF,20,9-Jun,220,Arizona,4171680.0
152,Aaron Brooks,Chicago Bulls,0,PG,31,Jun-00,161,Oregon,2250000.0

In [199]:
s.sort_values(['Name','Salary']).head(20)

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0,PG,31,Jun-00,161,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0,PF,20,9-Jun,220,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9,SG,21,6-Jun,210,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33,PF,25,10-Jun,237,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15,C,30,10-Jun,245,Florida,12000000.0
330,Al Jefferson,Charlotte Hornets,25,C,31,10-Jun,289,not-registered,13500000.0
428,Al-Farouq Aminu,Portland Trail Blazers,8,SF,25,9-Jun,215,Wake Forest,8042895.0
368,Alan Anderson,Washington Wizards,6,SG,33,6-Jun,220,Michigan State,4000000.0
135,Alan Williams,Phoenix Suns,15,C,23,8-Jun,260,UC Santa Barbara,83397.0
444,Alec Burks,Utah Jazz,10,SG,24,6-Jun,214,Colorado,9463484.0
128,Alex Len,Phoenix Suns,21,C,22,1-Jul,260,Maryland,3807120.0
273,Alex Stepheson,Memphis Grizzlies,35,PF,28,10-Jun,270,USC,NaN
275,Alexis Ajinca,New Orleans Pelicans,42,C,28,2-Jul,248,not-registered,4389607.0
430,Allen Crabbe,Portland Trail Blazers,23,SG,24,6-Jun,210,California,947276.0
287,Alonzo Gee,New Orleans Pelicans,15,SF,29,6-Jun,225,Alabama,1320000.0
348,Amar'e Stoudemire,Miami Heat,5,PF,33,10-Jun,245,not-registered,947276.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,not-registered,12000000.0
90,Anderson Varejao,Golden State Warriors,18,PF,33,11-Jun,273,not-registered,289755.0
188,Andre Drummond,Detroit Pistons,0,C,22,11-Jun,279,Connecticut,3272091.0
83,Andre Iguodala,Golden State Warriors,9,SF,32,6-Jun,215,Arizona,11710456.0

In [202]:
s.sort_values(['Name','Salary'],ascending=[True,False]) # for multiple ascending with multiple entry

,Name,Team,Number,Position,Age,DOB,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0,PG,31,Jun-00,161,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0,PF,20,9-Jun,220,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9,SG,21,6-Jun,210,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33,PF,25,10-Jun,237,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15,C,30,10-Jun,245,Florida,12000000.0
330,Al Jefferson,Charlotte Hornets,25,C,31,10-Jun,289,not-registered,13500000.0
428,Al-Farouq Aminu,Portland Trail Blazers,8,SF,25,9-Jun,215,Wake Forest,8042895.0
368,Alan Anderson,Washington Wizards,6,SG,33,6-Jun,220,Michigan State,4000000.0
135,Alan Williams,Phoenix Suns,15,C,23,8-Jun,260,UC Santa Barbara,83397.0
444,Alec Burks,Utah Jazz,10,SG,24,6-Jun,214,Colorado,9463484.0
128,Alex Len,Phoenix Suns,21,C,22,1-Jul,260,Maryland,3807120.0
273,Alex Stepheson,Memphis Grizzlies,35,PF,28,10-Jun,270,USC,NaN
275,Alexis Ajinca,New Orleans Pelicans,42,C,28,2-Jul,248,not-registered,4389607.0
430,Allen Crabbe,Portland Trail Blazers,23,SG,24,6-Jun,210,California,947276.0
287,Alonzo Gee,New Orleans Pelicans,15,SF,29,6-Jun,225,Alabama,1320000.0
348,Amar'e Stoudemire,Miami Heat,5,PF,33,10-Jun,245,not-registered,947276.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,not-registered,12000000.0
90,Anderson Varejao,Golden State Warriors,18,PF,33,11-Jun,273,not-registered,289755.0
188,Andre Drummond,Detroit Pistons,0,C,22,11-Jun,279,Connecticut,3272091.0
83,Andre Iguodala,Golden State Warriors,9,SF,32,6-Jun,215,Arizona,11710456.0
304,Andre Miller,San Antonio Spurs,24,PG,40,3-Jun,200,Utah,250750.0
423,Andre Roberson,Oklahoma City Thunder,21,SG,24,7-Jun,210,Colorado,1210800.0
78,Andrew Bogut,Golden State Warriors,12,C,31,Jul-00,260,Utah,13800000.0
248,Andrew Goudelock,Houston Rockets,0,PG,27,3-Jun,200,Charleston,200600.0
362,Andrew Nicholson,Orlando Magic,44,PF,26,9-Jun,250,St. Bonaventure,2380593.0
411,Andrew Wiggins,Minnesota Timberwolves,22,SG,21,8-Jun,199,Kansas,5758680.0
108,Anthony Brown,Los Angeles Lakers,3,SF,23,7-Jun,210,Stanford,700000.0
281,Anthony Davis,New Orleans Pelicans,23,PF,23,10-Jun,253,Kentucky,7070730.0
421,Anthony Morrow,Oklahoma City Thunder,2,SG,30,5-Jun,210,Georgia Tech,3344000.0
195,Anthony Tolliver,Detroit Pistons,43,PF,31,8-Jun,240,Creighton,3000000.0
...,...,...,...,...,...,...,...,...,...
45,Tony Wroten,New York Knicks,5,SG,23,6-Jun,205,Washington,167406.0
242,Trevor Ariza,Houston Rockets,1,SF,30,8-Jun,215,UCLA,8193030.0
442,Trevor Booker,Utah Jazz,33,PF,28,8-Jun,228,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3,PG,23,1-Jun,191,Michigan,2658240.0
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
179,Tristan Thompson,Cleveland Cavaliers,13,C,25,9-Jun,238,Texas,14260870.0
325,Troy Daniels,Charlotte Hornets,30,SG,24,4-Jun,205,Virginia Commonwealth,947276.0
203,Ty Lawson,Indiana Pacers,10,PG,28,11-May,195,North Carolina,211744.0
215,Tyler Ennis,Milwaukee Bucks,11,PG,21,3-Jun,194,Syracuse,1662360.0
327,Tyler Hansbrough,Charlotte Hornets,50,PF,30,9-Jun,250,North Carolina,947276.0
345,Tyler Johnson,Miami Heat,8,SG,24,4-Jun,186,Fresno State,845059.0
14,Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253,North Carolina,2616975.0
285,Tyreke Evans,New Orleans Pelicans,1,SG,26,6-Jun,220,Memphis,10734586.0
124,Tyson Chandler,Phoenix Suns,4,C,33,1-Jul,240,not-registered,13000000.0
401,Tyus Jones,Minnesota Timberwolves,1,PG,20,2-Jun,195,Duke,1282080.0
343,Udonis Haslem,Miami Heat,40,PF,36,8-Jun,235,Florida,2854940.0
363,Victor Oladipo,Orlando Magic,5,SG,24,4-Jun,210,Indiana,5192520.0
261,Vince Carter,Memphis Grizzlies,15,SG,39,6-Jun,220,North Carolina,4088019.0
322,Walter Tavares,Atlanta Hawks,22,C,24,3-Jul,260,not-registered,1000000.0
17,Wayne Ellington,Brooklyn Nets,21,SG,28,4-Jun,200,North Carolina,1500000.0
97,Wesley Johnson,Los Angeles Clippers,33,SF,28,7-Jun,215,Syracuse,1100602.0
233,Wesley Matthews,Dallas Mavericks,23,SG,29,5-Jun,220,Marquette,16407500.0
385,Will Barton,Denver Nuggets,5,SF,25,6-Jun,175,Memphis,3533333.0
141,Willie Cauley-Stein,Sacramento Kings,0,C,22,Jul-00,240,Kentucky,3398280.0
25,Willie Reed,Brooklyn Nets,33,PF,26,10-Jun,220,Saint Louis,947276.0
386,Wilson Chandler,Denver Nuggets,21,SF,29,8-Jun,225,DePaul,10449438.0
270,Xavier Munford,Memphis Grizzlies,14,PG,24,3-Jun,180,Rhode Island,NaN
402,Zach LaVine,Minnesota Timberwolves,8,PG,21,5-Jun,189,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50,PF,34,9-Jun,260,Michigan State,9638555.0
237,Zaza Pachulia,Dallas Mavericks,27,C,32,11-Jun,275,not-registered,5200000.0

In [204]:
# fitler 
d=dia[dia.Outcome==0]
d.head(10)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,85,66,29,0,26.6,0.351,31,0
3,89,66,23,94,28.1,0.167,21,0
5,116,74,0,0,25.6,0.201,30,0
7,115,0,0,0,35.3,0.134,29,0
10,110,92,0,0,37.6,0.191,30,0
12,139,80,0,0,27.1,1.441,57,0
18,103,30,38,83,43.3,0.183,33,0
20,126,88,41,235,39.3,0.704,27,0
21,99,84,0,0,35.4,0.388,50,0
27,97,66,15,140,23.2,0.487,22,0

In [205]:
m=dia[(dia.Outcome==0) & (dia.Glucose>100)]
m.head(10)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
5,116,74,0,0,25.6,0.201,30,0
7,115,0,0,0,35.3,0.134,29,0
10,110,92,0,0,37.6,0.191,30,0
12,139,80,0,0,27.1,1.441,57,0
18,103,30,38,83,43.3,0.183,33,0
20,126,88,41,235,39.3,0.704,27,0
28,145,82,19,110,22.2,0.245,57,0
29,117,92,0,0,34.1,0.337,38,0
30,109,75,26,0,36.0,0.546,60,0
34,122,78,31,0,27.6,0.512,45,0